[2015-07-19 09:52] KrauseFx opened #2 "[Feature] Captchas"
Not yet implemented

[2015-07-20 03:04] anthonycastelli opened #3 "Enable/Disable Signups"
There are two things I would like to see in this.

1. Being able to manually enable/disable signups
2. Automatically disable logins after a certain amount of signups.

Not sure if the latter is possible, but knowing you, you'll figure it out

[2015-07-22 14:48] anthonycastelli opened #6 "Full Admin Panel"
I wrote @KrauseFx an email the other day about this. After playing with this, the idea is great, however, I (and I am sure many other would feel the same) don't like the current flow where anyone can actually add themselves to TestFlight. Before Apple bought them, you were able to share a link to a page where people could sign up and join, but you had to approve people.

1. Enable or Disable Signu

[2015-07-22 16:49] eytanbiala commented on #6
+1, I think the most useful parts are 4 and 5, since some companies want to vet users before adding them to their beta.

[2015-07-22 18:13] KrauseFx commented on #6
What do you mean with 4? `boarding` will automatically enable the latest build for the newly added TestFlight user.

[2015-07-22 20:00] anthonycastelli commented on #6
To clarify `#4`
When Automatic TestFlight enrollment is enabled, anyone who signs up will automatically be added to TestFlight in ITC as a tester, otherwise, if it is disabled, you will have to approve testers before they are added to ITC.

[2015-07-24 06:41] skywinder opened #7 "Feature-request: Specify Groups for new testers"
It would be cool to assign separate group for users that added by `boarding`.
![screen shot 2015-07-24 at 09 39 39](https://cloud.githubusercontent.com/assets/3356474/8869051/336278dc-31e8-11e5-9344-da9042eb18f9.png)

[2015-07-24 07:51] KrauseFx commented on #7
Sounds like a good feature. This will also require an update of `spaceship`.

[2015-08-10 15:52] jonsajdak opened #8 "boarding creates external testers, what about internal?"
I tried this workflow out and see that it creates external testers successfully.

Would it be feasible to have it create internal testers?  I'm not sure ITC connects allows adding internal/external in the same way, or if there is some other limitation around this.

[2015-08-10 22:28] KrauseFx commented on #8
Sorry, that's not planned right now, as it's quite risky: internal testers have access to your iTunes Connect data as they have to be in your iTunes Connect team. It wouldn't be a good idea to allow public registration for that kind of things :wink:

[2015-08-10 22:28] #8 closed

[2015-08-14 19:59] fremontmj opened #9 "Not working - including your example!"
I tried to run my copy of boarding (which I installed a week ago, and it worked then) on heroku, and got:

"Something went wrong"

I then tried your example installation and the same thing happened.

Here's the log from my installation:

[code]

[2015-08-14 20:13] fremontmj commented on #9
PS Cool tools, thanks!

[2015-08-15 12:42] KrauseFx commented on #9
I just pushed an update, could you try again?

[2015-08-15 14:07] fremontmj commented on #9
Did you happen to update the live example?  It still doesn't work...

https://boarding.herokuapp.com/

[2015-08-17 10:21] KrauseFx commented on #9
Sorry about this, working on a fix :+1:

[2015-08-17 14:32] rlimberger commented on #9
We are also running into this. Just wanted to add myself to the thread. Thanks for boarding! Great tools!

[2015-08-18 14:16] KrauseFx commented on #9
This is now resolved: https://boarding.herokuapp.com

Please follow the [update guide](https://github.com/fastlane/boarding/#update-to-a-new-version)

[2015-08-18 16:48] fremontmj commented on #9
Worked.  Thanks!

I followed your recommended update directions.  I did have to resolve a bunch of git merges manually (warning: no common commits)...

On Tue, Aug 18, 2015 at 7:16 AM, Felix Krause <notifications@github.com>
wrote:

[2015-08-18 17:25] #9 closed

[2015-08-18 17:25] KrauseFx commented on #9
:+1:

[2015-08-31 19:46] calebd opened #10 "No ruby version declared in Gemfile"

[2015-08-31 19:48] calebd opened #11 "Heroku Configuration"
Heroku recommends adding the `rails_12factor` gem in production and using a `Procfile` to specify a web server that is not webrick.

[2015-09-04 12:25] docterd opened #12 "Invalid username and password combination"
Since some days I get following error message
[code]
[code]
Changing password or removing and readding the user didn't work as a workaround.

[2015-09-04 12:52] docterd commented on #12
Deleting /tmp/spaceship_itc_login_url.txt fixed the issue.

[2015-09-04 12:52] #12 closed

[2015-09-04 18:33] soheil opened #13 "Something went wrong try again"
This error happens every now and then for some users. I have been able to reproduce it but it doesn't alway fail sometimes it works: fname: s lname: y email: sy@yahoo.com

ne ideas?

[2015-09-04 18:41] KrauseFx commented on #13
You'll have to look at the server logs on Heroku. You'll see the error message there. It can have many reasons, usually it's invalid credentials or an invalid app identifier.

[2015-09-04 18:44] soheil commented on #13
Ok I will but those two cannot be the problem because like I said it worked
before and works for some users but not always...

On Fri, Sep 4, 2015 at 11:41 AM, Felix Krause <notifications@github.com>
wrote:

[2015-09-04 18:47] soheil commented on #13
Not sure why this is happening: (it works if you refresh the post request)
[code]

On Fri, Sep 4, 2015 at 11:41 AM, Felix Krause <notifications@github.com>
wrote:

[2015-09-04 18:54] KrauseFx commented on #13
Could you verify your Heroku instance is using the latest version of `spaceship`?

[2015-09-04 18:56] soheil commented on #13
I deployed 6 days ago, is there a simple way to update my heroku instance?

On Fri, Sep 4, 2015 at 11:54 AM, Felix Krause <notifications@github.com>
wrote:

[2015-09-04 19:00] StRibbon opened #14 "Rails development mode configuration"
Hello,

I am trying to style the page in rails development mode but I cannot run the server locally due to many errors. I figure it has to do with storing ITC variables but I'm not sure where to put them and how. I imagine in Rails 4, it would be in the 'secrets.yml' under development or production... Can someone please give me more explicit instructions. I am new to Fastlane/boarding and but I ha

[2015-09-04 21:40] KrauseFx commented on #14
You can just set the environments variables

[code]

[2015-09-04 21:58] StRibbon commented on #14
Thank you! figured it out :)

[2015-09-04 21:58] #14 closed

[2015-09-04 23:12] KrauseFx commented on #12
Which version of `spaceship` are you using?

[2015-09-06 10:22] docterd commented on #12
I was also trying spaceship 0.5.3 after I saw a commit message related to this problem. I think I just borked some local permissions.

[2015-09-08 22:58] tompowered commented on #13
I just deployed today and ran into similar problems. Here's the error in the logs:

2015-09-08T22:38:28.737321+00:00 app[web.1]: F, [2015-09-08T22:38:28.736847 #3] FATAL -- : #<Spaceship::Client::UnexpectedResponse: {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["Unauthorized access"]}, "statusCode"=>"ERROR"}>

[2015-09-08 23:29] KrauseFx commented on #13
@tompowered Could you make sure to run the latest version of `spaceship`? Also, try restarting the machine.

[2015-09-08 23:31] soheil commented on #13
I've done both to no avail.

On Tue, Sep 8, 2015 at 4:29 PM, Felix Krause <notifications@github.com>
wrote:

[2015-09-09 20:28] tompowered commented on #13
@KrauseFx I used the Deploy to Heroku button on the GitHub page - does that not use the latest version of `spaceship`?

[2015-09-10 01:34] KrauseFx commented on #13
Ah, that's because I commited the `Gemfile.lock` @tompowered, I'll push a new version :+1:

[2015-09-10 01:36] KrauseFx commented on #13
@tompowered Could you try using the `Heroku` button again? :rocket:

[2015-09-18 00:27] tompowered commented on #13
@KrauseFx Success! No issues.

[2015-09-18 01:20] KrauseFx commented on #13
Yeah :rocket:

[2015-09-18 01:20] #13 closed

[2015-09-20 04:12] madangosain opened #17 "How to?"
How to submit build to Apple App Store as pre-release from xcode project. I am trying to automate Unity3d to IOS app submission. Unity3d does export to xcode project using command line. Can deliver take input as xcode project path instead of ipa?

[2015-09-20 04:14] KrauseFx commented on #17
You submitted this issue on the `boarding` repository. You probably meant to submit it to `fastlane`.

You should take a look at https://github.com/fastlane/examples to see how other companies use `fastlane` to automate their setup :+1:

[2015-09-25 21:35] Benmidi commented on #13
I'm experiencing this issue. I created my initial heroku build 24 days ago. I tried pulling the latest and pushing; still had the issue. I then went back to the Heroku button and made a new one; still seeing the error. Of note, the emails are being added to TestFlight just fine. I noticed that iTunes Connect got a fresh coat of paint today... maybe they modified their response.

[2015-09-25 23:07] iliaskarim opened #18 "`#<NoMethodError: undefined method `[]' for nil:NilClass>` -> Something went wrong, please contact the application owner"
Hi Felix,

Thanks for putting all the great tools together!

We have run into an issue running and deploying `boarding`.

Even though `boarding` successfully creates a tester and adds him/her to the application in iTunes Connect, the web app __always__ responds with the message "Something went wrong, please contact the application owner" along and prints the following output to the log:
[code]

(I

[2015-09-26 00:06] KrauseFx commented on #18
Hey, thanks for reporting this issue. This is probably related to the new iTunes Connect (https://github.com/KrauseFx/deliver/pull/259). I'm still working on migrating all tools to make use of the updated API.

[2015-09-27 13:34] sebyddd commented on #18
+1. I'm facing the same situation.

[2015-09-27 20:34] KrauseFx commented on #18
Thanks, I can reproduce this error. This was due to the change on iTunes Connect. I'll push a new version in the next few minutes.

[2015-09-27 20:39] KrauseFx commented on #18
Could you update to the latest version and let me know if that works for you? :+1:

[2015-09-27 22:13] swemoney commented on #3
This is an old issue, but if you're looking to manually enable/disable signups, you can simply set the environment variable ITC_CLOSED_TEXT to whatever message you want to give the user when they hit your signup page.

Automatically disabling doesn't appear to be available, though.

[2015-09-27 22:26] KrauseFx commented on #3
:+1:

[2015-09-28 18:18] neil477 commented on #18
@KrauseFx Still seeing this error

[2015-09-28 19:08] iliaskarim commented on #18
The fix worked! Thanks for your hard work

I did notice a different issue with your email validation, however. Emails with multiple consecutive periods (e.g. `first...last@gmail.com`) fail with the error: `#<Spaceship::TunesClient::ITunesConnectError: The email must be in the format: contact@example.com. The email must be in the format: contact@example.com.>` after the tester is created and added.

[2015-09-28 19:09] #18 closed

[2015-09-28 19:11] iliaskarim commented on #18
As an aside, do you think it would be possible to report error messages like for example email validation to the user? It would be handy in diagnosing issues like this. Right now an invalid email returns the same error message `Something went wrong, please contact the application owner`

[2015-09-28 20:07] KrauseFx commented on #18
Good point. You could easily catch exceptions [here](https://github.com/fastlane/boarding/blob/master/app/controllers/invite_controller.rb#L49-L57).

I'm not sure how much information we should expose to the user to be honest. For example the error message might contain your username, which you might not want to share with the public.

[2015-09-28 21:57] iliaskarim commented on #18
Cool, thanks

[2015-09-29 17:44] netbe opened #19 "Boarding as Rails Engine"
Hi,

I am thinking about integrating Boarding on an existing heroku Rails app, so I guess the way to do it is via Rails Engine, I am willing to do it and contribute back but any any help or guidance on that subject would be appreciated.

Thanks

[2015-09-29 17:51] KrauseFx commented on #19
Most code is part of [spaceship](https://github.com/fastlane/spaceship), the only thing that is part of `boarding` can be found [here](https://github.com/fastlane/boarding/blob/master/app/controllers/invite_controller.rb).

Basically you can easily add `spaceship` as gem dependency to your Rails application and use the `spaceship` API directly.

[2015-09-29 17:54] netbe commented on #19
Ok so if I get it right, it's not that worth it and better just add this to my app directly. Is it still interesting to do a PR to make it a Rails Engine ?

[2015-09-29 18:40] KrauseFx commented on #19
`boarding` is more a proof on concept really on how to use `spaceship` on your server. So yes, please just use the `spaceship` in your application and use it for whatever you want to build with it :+1:

[2015-09-29 18:40] KrauseFx commented on #19
Also, let me know what you build with it, I'm super curios

[2015-09-29 19:23] netbe commented on #19
Nothing special, it's just that I didn't want to deploy an extra instance, so put the form on the backend server.

But about the ITC password and email, I don't really like to leave that in the heroku config in clear. Do you usually create a custom appleid to work with spaceship? If yes, which kind of permissions do you give it?

[2015-09-29 19:47] KrauseFx commented on #19
I usually use the Mac OS X Keychain to store all passwords and only specify the username. Unfortunately there is no Keychain on Heroku, so that's not an option.

[2015-10-12 09:51] kostiakoval opened #20 "Get Slack notification when new user has been registered"
New feature request :)
"Get Slack notification when new user has been registered" :)

[2015-10-12 15:39] KrauseFx commented on #20
Wups, sorry

[2015-10-12 15:39] KrauseFx commented on #17
I'll close this issue for now

[2015-10-12 15:39] #17 closed

[2015-10-13 20:14] DasHutch opened #21 "Updated to newest release but still getting #<NoMethodError: undefined method `[]' for nil:NilClass>"
Installed a brand new app via 'deploy to heroic' button as a clean test bed and still getting the following error - same as the install / updated build on an older setup. Really not sure whats happening here, any help pointing me in the right direction would be much appreciated

[code]

original app - firstpersonnews.herokuapp.com
new test app - firstpersonnews-test.herokuapp.com

[2015-10-13 20:37] KrauseFx commented on #21
Could you share the complete log + stack trace?

[2015-10-13 22:29] DasHutch commented on #21
original app.
[code]

[2015-10-13 22:31] DasHutch commented on #21
test app. (not sure if all logs or not - just ran heroku logs)
[code]

[2015-10-14 08:35] kostiakoval opened #22 "Feature Request: Show required fields"
Add `*` sign to required field (the email)

[2015-10-14 18:17] KrauseFx commented on #22
Feel free to submit a pull request adding the `*` :wink:

[2015-10-15 07:16] kostiakoval commented on #22
I will try :) sorry for bothering you

[2015-10-15 19:06] KrauseFx commented on #22
Don't worry, thanks for taking the time

[2015-10-16 23:09] DasHutch commented on #21
any thoughts?

[2015-10-22 19:02] #10 closed

[2015-10-23 21:31] #22 closed

[2015-10-23 21:31] KrauseFx commented on #22
Thanks to @abookyun this is now implemented :+1:

[2015-10-24 06:06] kostiakoval commented on #22
thanks @abookyun :) I will try to contribute next time

[2015-10-26 04:11] abookyun commented on #22
:smile:

[2015-10-27 18:03] #11 closed

[2015-10-27 20:22] jhendley25 opened #26 "Heroku error"
It looks like the puma config was causing issues with deploying to heroku: I was getting "uninitialized constant ActiveRecord (NameError)" when the puma process was starting up. Changing the on_worker_boot block like so fixed it for me:

[code]

[2015-10-27 20:30] KrauseFx commented on #26
Okay, I'll revert https://github.com/fastlane/boarding/pull/24

[2015-10-27 20:34] KrauseFx commented on #26
Thanks for letting me know, please try again and let me know if that works :+1:

[2015-10-27 20:34] #26 closed

[2015-10-27 20:53] jhendley25 commented on #26
Yep, that fixed it. :+1:

[2015-10-28 08:16] 0xced opened #27 "Deploying to AWS Elastic Beanstalk?"
Has anybody tried to deploy boarding on Elastic Beanstalk? Are there some special steps to take?

[2015-10-28 16:44] KrauseFx commented on #27
It is a standard Rails project, so it should be straight forward. Most people just use Heroku, as it's easy and free for a project like `boarding`. Let me know how it works with Beanstalk if you try it out.

[2015-10-29 08:00] 0xced commented on #27
It worked fine. I only had two issues.

1. The latest ruby version available on AWS is 2.2.2 so I had to update the Gemfile.
2. In addition to `ITC_*` environment variables, I had to set the `SECRET_KEY_BASE` environment variable which is apparently a standard Rails thing.

[2015-10-29 08:00] #27 closed

[2015-10-29 18:52] KrauseFx commented on #27
@0xced sounds good :+1:

[2015-11-02 00:01] sawteeth opened #41 "Could not fetch the login URL from iTunes Connect, the server might be down"
Hi!  Love this project and want to use it so badly, but when trying to use locally, I get this error... My username, password and app ID are all set... Is it a problem with me? Or boarding?  Thanks for any help!

[code]

[2015-11-02 00:02] sawteeth commented on #41
In regards to the `SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed` error, I have tried fixing it about 10 different ways -- so I don't think it's my computer?

[2015-11-02 02:24] KrauseFx commented on #41
Could you try https://github.com/fastlane/fastlane/blob/master/docs/FAQs.md#im-getting-an-ssl-error

[2015-11-02 02:57] sawteeth commented on #41
@KrauseFx thanks for the link.  Pretty sure I did that already, but I'll give it a try and let you know.

[2015-11-02 03:17] sawteeth commented on #41
Hey -- I'm using the latest SSL I think  (I get this in terminal):

[code]

Getting the same error.

[2015-11-02 17:36] sawteeth commented on #41
Fixed it!  I updated to latest fastlane, and reset all ruby gems.

[2015-11-02 17:36] #41 closed

[2015-11-02 17:41] ruddfawcett opened #42 "Restrict access to certain email domains"
I was wondering if anyone had interest in an feature that restricted signups to a certain domain name?  AKA only allow external users from your school or organization to sign up.  I'm thinking `RESTRICTED_DOMAIN=school.edu`?  If the value is null/the variable is nonexistent it would default to normal behavior.

I have implemented this feature and am just trying to get a sense of if anyone else wou

[2015-11-03 00:29] KrauseFx commented on #42
@ruddfawcett I like the idea and would happily merge a pull request :+1: You can use an environment variable to pass the email host.

[2015-11-03 00:31] ruddfawcett commented on #42
@KrauseFx yep -- current implementation... I'll send a PR when I get a chance.

[code]

[2015-11-03 00:39] KrauseFx commented on #42
Interesting, looks great. Thank you @ruddfawcett :+1:

[2015-11-05 17:40] adcooley opened #43 "Grab the Beta app icon image"
Is there any way to use the app icon from the current TestFlight app, not the live app metadata?

[2015-11-12 11:13] akramhussein opened #44 "Unable to complete deployment on Heroku"
Believe the new iTunes Connect changes have rendered the deployment process for Boarding broken.
Deployed last night before the changes and worked. Site no longer worked - I assumed this was because Spaceship etc needed updating. Deleted the Heroku app to try again. Deployed at 11:15AM with fresh Heroku App, but received following error message.

![screen shot 2015-11-12 at 11 10 25](https://cloud

[2015-11-12 11:15] akramhussein commented on #44
Weirdly, clicking "Deploy for Free" a few times has made this work.

[2015-11-12 14:40] akramhussein commented on #44
Dependency commit - 28486d2  - seems to have fixed this.

[2015-11-12 14:40] #44 closed

[2015-11-12 14:43] KrauseFx commented on #44
:+1:

[2015-11-12 16:01] claesjacobsson commented on #20
+1

[2015-11-16 19:26] jvanzummeren opened #46 "Wrong instructions for updating Heroku"
Just wanted to point out that the 'Recommended' instruction do not work as expected.

This does not work:
```heroku clone --app [app-name]```

Should be:
[code]
<https://devcenter.heroku.com/articles/git-clone-heroku-app>

But other than that, it works great, thanks!

[2015-11-18 23:36] DasHutch commented on #21
closing as this is fixed for me. thanks.

[2015-11-18 23:36] #21 closed

[2015-11-29 18:57] krishan711 opened #48 "Login issue"
My boarding landing page isn't showing up (500 error), and when I check the logs it shows a bunch of html with the message "Your sign in cannot be completed because you have no trusted devices listed for your account. Visit the Apple ID site and use your Recovery Key to add trusted devices.". What's happening here? Everything was working as required a couple of weeks ago. I deployed a brand new he

[2015-12-01 17:56] jhendley25 commented on #48
I'm seeing the same issue

[2015-12-01 20:00] #42 closed

[2015-12-02 06:20] kdawgwilk opened #50 "Does not support new iTunesConnect features"
This no longer works if your email is tied to multiple iTunesConnect teams :(
http://9to5mac.com/2015/06/12/wwdc-itunes-connect-testflight-limits-account-switching/
"Another nice change for developers is the ability to manage several accounts in iTunes Connect under a single username."

[2015-12-02 23:03] KrauseFx commented on #50
That's correct, please follow this issue to be up to date https://github.com/fastlane/spaceship/issues/181

[2015-12-03 11:05] zxl777 opened #51 "How to install boarding into Ubuntu Server 14.04 without Heroku?"
Please write some install info with Ubuntu Server in Readme.md ,
Thank you.

[2015-12-03 16:58] adamstener commented on #48
I'm getting a runtime error -  RuntimeError (Could not fetch the login URL from iTunes Connect, the server might be down): All my boarding sites are currently not working, created a new one from scratch and seeing the same issue

[2015-12-04 01:02] iamchenchen commented on #48
same issue here.

[2015-12-04 03:39] KrauseFx commented on #48
Please make sure to update to the latest version of `spaceship` using `bundle update`, so that your `Gemfile.lock` has the new version of `spaceship`. For more information check out the `update` section on the project page

[2015-12-04 04:07] adamstener commented on #48
boarding.herokuapp.com has a similar issue it appears.

[2015-12-04 04:43] KrauseFx commented on #50
This is now implemented, please update to the latest version :rocket:

[2015-12-04 04:43] #50 closed

[2015-12-04 04:43] KrauseFx commented on #46
Thanks, this is now updated :+1:

[2015-12-04 04:43] #46 closed

[2015-12-04 04:43] KrauseFx commented on #48
Oh, thanks! It seems like `boarding` doesn't work when you're in multiple teams yet, working on it now :+1:

[2015-12-04 04:45] KrauseFx commented on #48
It's working now: https://boarding.herokuapp.com/
Please update and make sure to set the `FASTLANE_ITC_TEAM_NAME` or `FASTLANE_ITC_TEAM_ID` value :+1:

[2015-12-04 04:45] #48 closed

[2015-12-04 04:46] KrauseFx commented on #51
I can't give any instructions on that, basically you need a standard Rails setup without a database or anything special.

[2015-12-04 04:46] #51 closed

[2015-12-04 13:58] adamstener commented on #48
Can you update the process for making a boarding app from the github page?  I'm now not able to deploy a new app, it's not valid.

[2015-12-04 14:34] KrauseFx commented on #48
What do you mean it's not valid? Try [this](https://dashboard.heroku.com/new?button-url=https%3A%2F%2Fgithub.com%2Ffastlane%2Fboarding&template=https%3A%2F%2Fgithub.com%2Ffastlane%2Fboarding)

[2015-12-04 14:42] jhendley25 commented on #48
@KrauseFx I think he is referring to this error:

Counting objects: 496, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (189/189), done.
Writing objects: 100% (496/496), 1.40 MiB | 1.61 MiB/s, done.
Total 496 (delta 321), reused 471 (delta 299)
remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Using set buildpack heroku/ruby
remote:

[2015-12-04 14:45] adamstener commented on #48
That is correct.

[2015-12-08 01:41] AndrewSB opened #53 "fatal error on user signup"
I followed the instructions in the README, but I'm getting an error whenever I try to submit a new tester. Here are the logs from Heroku

[code]

[2015-12-10 22:30] TomCarey commented on #53
+1

[2015-12-11 06:28] Gladkov-Art commented on #53
I had similar problem, and changing to the main account resolved this issue for me too.
But I'm a bit disappointed that I have to disclose credentials for account that has some other released applications.

[2015-12-11 11:44] alex-schwartzman commented on #53
I have the same problem. Nothing works unless I grant admin rights to the user, specified in the app configuration. I'll try to fix it this weekend and send you pull request.

[2015-12-11 13:46] bencollier commented on #53
Same issue here, using an iTunes Connect 'technical' account;

[code]

No 2FA enabled.

[2015-12-16 11:18] simonrice opened #54 "Boarding Example Not Working"
I'm afraid I can't be much more helpful right now, but it seems there's a crash with the example hosted at https://boarding.herokuapp.com

I'll see if I can dig out any further information for you shortly just in case it's not a trivial thing to fix - I haven't yet created an example for myself.

[2015-12-16 19:31] KrauseFx commented on #54
Thanks, working on a fix right now

[2015-12-16 19:33] KrauseFx commented on #54
Fixed https://boarding.herokuapp.com/ :rocket:

[2015-12-16 19:33] #54 closed

[2015-12-16 19:36] simonrice commented on #54
Thank you 😃 & well done getting it fixed so quickly 🚀

[2016-01-04 21:21] revile commented on #53
Same issue using an 'App Manager' account. Would prefer not to have to use the main account for this

[2016-01-05 05:45] KrauseFx commented on #53
You'll need to update `spaceship` to the latest version. Please follow the update guide on the README to update to the latest `spaceship`

[2016-01-05 07:08] revile commented on #53
I installed a fresh version about 8 hours ago, has there been changes since then?

[2016-01-05 11:30] alex-schwartzman commented on #53
Deleted the boarding app from heroku
Installed it from scratch
Expected that spaceship dependency will be resolved to the latest version (don't know how it works however)
Checked.

Still I experience the same behavior as before.

[code]

[2016-01-14 19:44] iosdeveloper commented on #53
^ Any idea @KrauseFx?

[2016-01-19 17:39] KrauseFx commented on #53
Make sure to use the latest version of `spaceship` 0.19.1

[2016-01-27 23:47] revile commented on #53
This still doesn't work @KrauseFx

1. Installing from scratch still results in spaceship 0.19.0 being installed, I guess since the `Gemfile.lock` specifies that version
2. Even after manually updating to the latest (now `0.19.3`) I get the same error when using an account that is an App Manager for the app in question

Any ideas?

[2016-01-29 20:04] KrauseFx commented on #53
I just pushed https://github.com/fastlane/boarding/commit/82415d33cf9b78a1a57abf75ab71a9abe2a3ae2d, could you try that? :+1:

[2016-02-03 13:05] patoroco commented on #53
I just install it (with spaceship 0.19.3 as you did in @82415d3), and it returns me same error with an specific account for that :(

[2016-02-03 16:46] alecgorge opened #59 ""Can't verify CSRF token authenticity" when some people sign up"
I haven't been able to reproduce this myself, but I have gotten sporadic reports from users that they get an error saying "The change you wanted was rejected" and maybe this will help other people chip in information.

Is there any advice I can give the users? If not, can we add a flag to disable CSRF checking?

In the logs I see things like this:

[code]

[2016-02-05 08:22] pejalo opened #60 "Feature request: Approve new testers"
I've been looking for something like this for a while. However even the password option does not seem secure enough. The password could be easily shared or posted online. I'd like to approve each person who signs up individually.

[2016-02-05 17:50] KrauseFx commented on #60
Sorry, that's not possible or planned right now

[2016-02-15 11:40] koenpunt opened #61 "Why Rails and not something more light-weight as Sinatra?"
I like rails, but it seems like a lot of overhead for this application?

And according to @KrauseFx's [comment](https://github.com/fastlane/boarding/issues/19#issuecomment-144134539), the application code is all in one controller.

I think that Sinatra is more suited for the job.

Or is the decision for Rails based on the ease of extending the feature set in the future?

[2016-02-15 13:46] KrauseFx commented on #61
`boarding` was built on one day to show how you can use [spaceship](https://spaceship.airforce) on a web server, like Heroku. It makes use of the Heroku deploy button (https://github.com/fastlane/boarding#getting-started) enabling you to deploy `boarding` for free within minutes.
I agree that Rails is absolutely not necessary for this use case.

[2016-02-17 20:23] pzearfoss opened #63 "It would be helpful if Boarding could use a user in the App Manager role"
Right now you must use an admin user when communicating with the iTunesConnect portal.  The App Manager role can add users to testflight, but doesn't have the ability to delete apps for instance..  For security reasons, it's better to use a role with the minimum required permissions.

[2016-03-07 13:59] devdrey opened #65 "Creating new beta tester Forbidden"
Hey,

I'm trying to register a new beta-tester for one of my apps. But seems my ITC user is not allowed to do so with `boarding`. In ITC-Portal its working well.
My ITC-User has a `Technical` role
I've installed `boarding` on my local machine for testing. Could this be the problem?

This is what I get

[code]

[2016-03-07 14:30] dreyhomedev commented on #63
Same for the Technical role #64

[2016-03-07 17:57] vpolouchkine commented on #65
Can you try with an admin role?

[2016-03-08 07:49] zirinisp commented on #63
I am having the same issue can only use it with admin user. Would like to see the App Manager role being able to use boarding.

[2016-03-08 11:29] dreyhomedev commented on #65
I would love but since boarding needs the credentials as Envirnoment variable I will not get admin credentials :wink:

... for some reasons I don't get asked about my credentials in the terminal on first request of the boarding page.

[2016-03-17 16:42] dayervi opened #66 "Boarding usage regarding the app approbation by apple"
not really an issue but I has a doubt and I found no information about it.

I have an app which is still "waiting for review" and has never been publish on the app store. The app has been approved for beta testing but it's impossible to create a new tester through the form:

[2016-03-17T15:39:10.928867 #19044] FATAL -- : # < NameError: uninitialized constant InviteController::Helper >
[2016-03-17T

[2016-03-31 07:41] aral opened #69 "Localisation error: when Accept-Language header is Swedish (sv-SE), Chinese is shown"
When `Accept-Language: sv-SE` header is set, the localisation appears in Chinese:

Check if this is a greater issue with RoR AutoLocale implementation and fix at the right place.

<img width="743" alt="napkin 3 31-03-16 9 40 24 am" src="https://cloud.githubusercontent.com/assets/41798/14168792/98dda860-f724-11e5-8f3d-ec0020971945.png">

Possible culprit:

In application_controller.rb:

[code]

[2016-03-31 08:55] aral commented on #66
I got this while testing from localhost – same details worked from the deployment server. Not sure if that’s a factor as I haven’t looked into it at depth (trying to fix something else at the moment).

[2016-03-31 09:22] aral commented on #69
So here’s what I’ve found:

1. Tried to reproduce locally on OS-X running Ruby 2.2.3, Rails 4.2.1, i18n 0.7.0, http_accept_language 2.0.5 and couldn’t

2. On my OpenStack-based deployment environment where Boarding is running under Dokku, I can recreate it everytime.

Tried:

1. To set default locale explicitly in config/application.rb:

[code]
This seemed to help but I was randomly still getting

[2016-04-02 00:22] KrauseFx commented on #69
Thanks for investigating this, keep me up to date on this :+1:

[2016-04-02 17:35] rlimberger commented on #20
+1

[2016-04-02 17:53] rlimberger opened #70 "dyno does not live long"
Hi, I'm using boarding on 2 free dynos. when i first deploy them they are fine for a few days. after that, they seem dead and i get this (attached image). I'm sure there is something I'm missing, as I'm not that familiar with heroku. Any suggestions what might cause this? Thanks.

<img width="545" alt="screen shot 2016-04-02 at 10 52 19 am" src="https://cloud.githubusercontent.com/assets/4841242/1

[2016-04-03 18:52] KrauseFx commented on #70
Can you look at the look on your server? You'll find more information about the error there

[2016-04-04 10:44] sirnacnud opened #71 "New Heroku App Failing"
I deployed boarding to Heroku and set the environment variables correctly. When I go the the site, I get the `We're sorry, but something went wrong` error. I checked the logs and it seems like it is failing to log in, but there isn't a clear error. I have two factor authentication enabled for my apple id, could this be causing the problem?

Below is what is in the log, it appears to be logging som

[2016-04-05 00:54] KrauseFx commented on #71
Yes, that's the problem, currently 2 step is not supported. However you can easily use the latest master from `spaceship`, since it's already there.

You can follow https://github.com/fastlane/fastlane/issues/3503

[2016-04-05 00:54] #71 closed

[2016-04-05 06:49] sirnacnud commented on #20
+1

[2016-04-05 11:29] bencollier commented on #65
This is definitely a problem - works with admin, but not any other role that should have access.

[2016-04-07 11:40] ZeeshanKiyani opened #72 "We're sorry, but something went wrong."
From last 5 days my boarding app deployed on heroku is not working. Here is the error log. Can anyone tell that what is the issue?

2016-04-06T11:35:36.236721+00:00 app[web.1]: F, [2016-04-06T11:02:39.440145 #3] FATAL -- :
2016-04-06T11:35:36.236721+00:00 app[web.1]: Spaceship::TunesClient::ITunesConnectError (
2016-04-06T11:35:36.236722+00:00 app[web.1]: aa=7C683082E37CA510A74C001DAB41964B221B24B

[2016-04-07 16:27] vpolouchkine commented on #72
Can you try updating to the latest version of `spaceship`? `sudo gem update spaceship`

[2016-04-07 16:32] ZeeshanKiyani commented on #72
I dont know how to do it I just uploaded the app on heroku no server side settings. Could you please provide the steps to update spaceship? Many thanks.

[2016-04-07 16:34] vpolouchkine commented on #72
`sudo gem update spaceship`

[2016-04-07 17:00] KrauseFx commented on #72
@ZeeshanKiyani Since this is deployed on your server, you'll have to push the new Gemfile and Gemfile.lock there. I just pushed a new version, could you follow the update guide? :+1:

[2016-04-07 17:11] ZeeshanKiyani commented on #72
Thank you Krause. I have followed the update guide and now im having merge conflicts which are as under:
From https://github.com/fastlane/boarding
 * branch            HEAD       -> FETCH_HEAD
Auto-merging config/locales/en.yml
CONFLICT (add/add): Merge conflict in config/locales/en.yml
Auto-merging config/environments/production.rb
CONFLICT (add/add): Merge conflict in config/environments/product

[2016-04-07 22:22] KrauseFx commented on #72
You can just delete your Heroku app and create a new one :+1: Also, do a fresh clone from the repo. That's just a merge conflict

[2016-04-08 05:04] ZeeshanKiyani commented on #72
Thank you so much I deleted the app and installed it fresh again. It works like a charm now.

[2016-04-08 05:04] #72 closed

[2016-04-08 05:04] ZeeshanKiyani commented on #72
Thank you so much I deleted the app and installed it fresh again. It works like a charm now.

[2016-04-08 09:10] adcooley commented on #70
I'm seeing an application error as well, and considering my lack of familiarity with heroku dynos, I imagine it's related.

My logs are:

2016-04-08T09:02:16.014169+00:00 heroku[worker.1]: Starting process with command `bundle exec rake jobs:work`
2016-04-08T09:02:16.591837+00:00 heroku[worker.1]: State changed from starting to up
2016-04-08T09:02:17.112456+00:00 app[web.1]: Successfully created t

[2016-04-08 18:27] acerbetti commented on #66
I'm seeing the same issue on heroku, brand new deployment from today.

[code]

[2016-04-10 01:29] lghstim commented on #70
I just got this error as well. Apple locked my Apple ID saying someone from Virginia just signed in – I'm thinking that's the script signing in and Apple thinks it's a hacker. How do we resolve this? I know I resolved it on my end by typing in a 6 digit pin they gave me, but how do I resolve it on the script's end? I really hope I can get this working again.

[2016-04-10 10:22] KrauseFx commented on #70
@lghstim You didn't share any information about your setup, output or stack trace. Please do so, so we can help you. This is probably related to 2 step verification

[2016-04-10 19:52] lghstim commented on #70
@KrauseFx pretty much what I did was press the "Deploy to Heroku" button and typed in my iTunes Connect username and password and my App's bundle ID. Boarding worked for 2 days but then I got the same error as @rlimberger did. A few minutes later Apple locked me out of iTunes connect and told me someone from Virginia tried to login. I don't have 2-step verification enabled. Sorry, but I don't real

[2016-04-11 15:48] #66 closed

[2016-04-15 13:31] claesjacobsson commented on #65
+1 Trying with App Manager role. Does not work.

[2016-04-15 13:37] claesjacobsson commented on #63
+1

[2016-04-20 15:55] vojtechvrbka opened #76 "User not added to testflight"
I installed `boarding` on Heroku and it worked for few hours.

My coworker, tried to signup with his email (he is internal tester in testflight) and now its not working for anybody.

I always get message `Successfully added you as a tester. Check your email inbox for an invite`, but I can't see user in Testflight and I don't get email.

I checked heroku logs and it seems that when new user makes a

[2016-04-21 11:50] vojtechvrbka commented on #76
After few hours, it started to work again.

Possibly bug in spaceship?

[2016-04-26 13:12] schultzjim opened #77 "cloning the repo always returns an empty directory"
I've been following the instructions exactly as shown here: https://github.com/fastlane/boarding#customize

I'm trying to do some simple customization however I'm not getting past cloning the repo because it is an empty directory. I'm sure i'm missing something simple though.

[2016-04-26 15:10] boxenjim commented on #65
+1 Also tried with App Manager, and Developer roles, neither work

[2016-04-26 15:11] boxenjim commented on #63
+1

[2016-04-26 16:05] vpolouchkine commented on #65
Thanks for bumping this, we'll take a look.

[2016-04-26 16:30] vpolouchkine commented on #63
Closing in favor of https://github.com/fastlane/boarding/issues/63

[2016-04-26 16:30] #63 closed

[2016-04-26 16:36] vpolouchkine commented on #77
Can you post what you've done so far?

[2016-04-26 16:36] vpolouchkine commented on #76
@vojtechvrbka Is it running fine for you right now?

[2016-04-26 16:40] boxenjim commented on #77
sure no problem.

1) followed these steps exactly: https://github.com/fastlane/boarding#getting-started everything worked as expected, app deployed and running
2) followed these steps exactly: https://github.com/fastlane/boarding#customize, on the cloning step it is always an empty directory

[2016-04-26 17:16] vpolouchkine commented on #77
Looks like this is by design: http://stackoverflow.com/a/31609976/4802413

[2016-04-26 18:15] alecgorge commented on #76
@vpolouchkine I am seeing this error as well right now

[2016-04-26 19:09] vpolouchkine commented on #76
@alecgorge Could you share your setup, versions, repro steps, etc. please? Thanks!

[2016-04-27 03:30] arabold commented on #76
Same issue here - I've simply installed current HEAD today, didn't do any specific configuration. I'm using an administrator account to connect to iTunesConnect as a restricted user wouldn't work. There's another bug report for this. However, as @vojtechvrbka already described, new users aren't created for me. The log looks the same: It mixes up the email address of the new user with an existing o

[2016-04-27 04:02] alecgorge commented on #76
@vojtechvrbka HEAD with no other configuration beyond the required ENV vars. @arabold's suggestion fixed it for me.

[2016-04-27 15:40] vpolouchkine commented on #76
@alecgorge Can you try the fix in https://github.com/fastlane/boarding/pull/75?

[2016-04-27 15:41] #76 closed

[2016-04-30 19:45] blumersolutions commented on #66
I'm experiencing this same exact issue. BUT, is only caused with a specific Apple account.
It works OK, the tester is added to the public beta testing IF I'm using my account details. BUT if I use client's account details I'm getting the same error message described here:
"# < NameError: uninitialized constant InviteController::Helper > ..."
Could you confirm if this is a known issue and if there'

[2016-05-05 16:15] arabold commented on #59
I'm seeing the same issue for a couple of people, but couldn't reproduce this myself. Any idea what could cause this?

[2016-05-13 09:04] denbec opened #78 "NoMethodError (undefined method `apple_id')"
Hey guys,

I just tried out boarding and deployed to Heroku (which I'm new to...).

After entering the data the script runs through successfully but visiting the site shows an error. The log has the following to say:

[code]

Any idea?

[2016-05-13 12:26] denbec commented on #78
I provided an app identifier, not the apple_id. Maybe spaceship changed, but it seems like the apple_id can't be retrieved from iTunes.
Using the Apple ID helped and the site is now correctly showing up. Entering a user doesn't work, but I'll look into that now.

[2016-05-21 16:49] Geeroz commented on #77
@boxenjim Have you ever get it to work? I'm having the same problem.

[2016-05-23 15:49] kcharwood commented on #65
I'm seeing this as well.

[2016-05-23 20:07] HolySamosa opened #80 "Support for multiple apps"
It would be super if boarding could support signup for multiple app TestFlights using a single server instance.

Perhaps extend ITC_APP_ID environment variable to permit a delimited string of multiple app IDs?

[2016-05-23 23:12] KrauseFx commented on #80
Sorry, that's currently not planned, however feel free to fork the repo and build it to fit your needs 👍

[2016-05-23 23:12] #80 closed

[2016-06-07 20:29] shanev opened #82 "Heroku Deploy button doesn't work with multiple teams"
The app never launches because it gets stuck on the prompt to choose your team.

[2016-06-07 21:09] shanev commented on #82
Ignore. Have to set `FASTLANE_ITC_TEAM_NAME`.

[2016-06-07 21:09] #82 closed

[2016-06-09 06:45] raubas commented on #20
+1

[2016-06-13 18:21] Emibob opened #83 "We're Sorry but Something Went Wrong"
Just made a new app deploying to Heroku & getting `We're sorry but something went wrong`

Is spaceship up to date with this repo?

[2016-06-13 19:07] Emibob commented on #83
jk

[2016-06-13 19:07] #83 closed

[2016-06-23 05:25] Greensource commented on #65
Same issue, here complete log from Heroku :

[2016-06-23 06:46] floriankrueger commented on #65
@Greensource same here 😞

```#<Spaceship::Client::UnexpectedResponse: {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["service_http_bad_response"]}, "statusCode"=>"ERROR"}>```

any advice?

[2016-06-23 14:08] wkwyatt commented on #77
@vpolouchkine Has this issue been resolved at all?  I have been getting the same thing.

[2016-06-24 01:07] davoda opened #84 "ITC Api Change"
"Something went wrong, please contact the application owner" is back.

Constantly returning the following error now:
`#<Spaceship::Client::UnexpectedResponse: {
"data"=>nil,
"messages"=>{"warn"=>nil, "info"=>nil, "error"=>["service_http_bad_response"]}, "statusCode"=>"ERROR"}>`

[2016-06-24 01:18] KrauseFx commented on #84
Unfortunately that's an error on Apple's side, duplicate of https://github.com/fastlane/fastlane/issues/5200

Please also contact Apple by sending a support request or calling them.

This is not a fastlane error, the same thing happens when you try to add an external tester using iTunes Connect

[2016-06-24 02:43] davoda commented on #84
@KrauseFx I was able to add users on their site before. But yes, Pilot is also down :(

[2016-06-24 17:48] KrauseFx commented on #84
@davoda What happens if you follow these steps? https://github.com/fastlane/fastlane/issues/5200#issuecomment-228186725

[2016-06-26 10:16] pbeast commented on #84
Hi,
I have the same probelm `(#<Spaceship::Client::UnexpectedResponse: {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["service_http_bad_response"]}, "statusCode"=>"ERROR"}>)`, but **can** create user manually using iTunesConnect.

Can I help somehow?

[2016-06-27 04:43] KrauseFx commented on #84
@pbeast Creating external testers? Or internal ones?

[2016-06-27 05:42] pbeast commented on #84
@KrauseFx, externals

[2016-06-27 10:18] KrauseFx commented on #84
@pbeast I just tried, it's not working for me

[2016-06-27 11:03] pbeast commented on #84
@KrauseFx , hmmm. Very strange. Will check again

[2016-06-28 01:31] samwize commented on #84
Seems like Apple fixed on their side. Adding External testers on ITC works now.

Boarding works without error too.

[2016-06-28 09:04] KrauseFx commented on #84
I just tried both boarding and pilot, and both work without problems. I'll close this issue for now, however feel free to re-open if you're still running into issues 👍

[2016-06-28 09:04] #84 closed

[2016-06-28 14:30] pbeast commented on #84
Thanks a lot

[2016-06-29 14:06] fluidpixel commented on #65
And here, set up a new App Manager Role for one particular App and get this error.

`#<Spaceship::Client::UnexpectedResponse: {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["Forbidden"]}, "statusCode"=>"ERROR"}>
2016-06-29T14:00:23.977962+00:00 app[web.1]: /app/vendor/bundle/ruby/2.2.0/gems/spaceship-0.25.0/lib/spaceship/client.rb:427:in `parse_response'
2016-06-29T14:00:23.977969+

[2016-06-29 14:07] bencollier commented on #65
I've given up on Boarding at this point because of this.

[2016-06-29 14:11] floriankrueger commented on #65
It's only "Admin" that works, no other role is sufficient.

The `service_http_bad_response` was a temporary issue on the iTC site which is fixed by now.

[2016-06-29 14:15] bencollier commented on #65
But if we login as an App Manager via the web you have access to add users. Also pilot distributes builds fine when you're an App Manager.

Is it possible through Spaceship?

[2016-07-13 11:09] jordansmithnz opened #87 "[Feature] URL parameter form submission"
I don't know if I've used the correct term for this, but I'd love to be able to use a URL like:

http://mygreatapp.herokuapp.com/submit?firstname=Bob&secondname=Brown&email=bob@brown.com

that basically skips the form submission page. Main use case that I'm thinking of is a mailing list, where the name and email is already known - this would be amazing.

Perhaps it's already possible, and I've mis

[2016-07-13 12:25] KrauseFx commented on #87
It's not possible, but you could easily build that on top of boarding, by forking the repo and changing its behaviour 👍

[2016-07-13 14:54] nick2060 commented on #53
Any update on this? Am getting the same issue when signing up on heroku boarding app. The ITC account who created the app is an admin and I am definitely using the newest version of spaceship. @KrauseFx

[2016-07-16 11:40] dimmdesign commented on #13
@KrauseFx I've deployed using the deploy button and the issue still remains. Used push/pull the latest version of Boarding using Heroku toolbelt... Still getting `#<Spaceship::Client::UnexpectedResponse: {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>["Forbidden"]}, "statusCode"=>"ERROR"}>`

Any ideas?

[2016-07-19 08:55] machinefixer commented on #70
Same issue. @lghstim Did you find the solution?  After my Apple ID locked, Apple ask me reset account password, then I shutdown the Boarding app on Heroku

[2016-07-19 17:45] nick2060 commented on #65
I am getting this error as an admin user as well.

Here are some of the logs I get:

    2016-07-19T17:41:33.249593+00:00 app[web.1]: Started POST "/submit" for 96.45.200.30 at 2016-07-19 17:41:33 +0000
2016-07-19T17:41:33.251436+00:00 app[web.1]: Processing by InviteController#submit as HTML
2016-07-19T17:41:33.259866+00:00 app[web.1]: Going to create a new tester: blar2060@gmail.com - Brianna La

[2016-07-19 20:36] TKBurner commented on #65
@nick2060 Thanks for following up on this thread. Can you let me know if you login at appleid.apple.com if that allows you to proceed? Right now boarding requires you be an iTC admin.

Thanks!

[2016-07-20 01:02] pejalo opened #88 "Show error if user has already been added"
If an email address is already on the list, and you try to add it again, you get this message: "Successfully added you as a tester. Check your email inbox for an invite"

This is misleading, because no new email is sent.

Easy fix is to change the message. Would be even better to remove and re-add them, so the email is actually sent again.

[2016-07-20 14:46] nick2060 commented on #65
@TKBurner turns out I was an admin in the developer portal but not on ITC. It works once I became an admin on ITC - thanks for the help. Should add that to the docs.

[2016-07-20 15:00] HolySamosa commented on #65
So has anyone determined why Admin is required and App Manager fails?

[2016-07-20 19:22] HolySamosa commented on #65
It seems that Pilot can successfully invite external testers using an App Manager role.  Confirmed by the reporter of this issue, who was having issues with the Technical Role:

https://github.com/fastlane/fastlane/issues/4265

[2016-07-25 21:41] dccarmo commented on #77
Did anyone find a workaround to this?

[2016-08-09 20:15] jessicathrasher commented on #77
My workaround was to follow the instructions for updating to a new version of boarding which will pull the code:

`heroku git:clone --app [heroku_app_name]`
`cd [heroku_app_name]`
`git pull https://github.com/fastlane/boarding`
`git push`

Now that you can see the code there you can make changes and push it back up to Heroku.

[2016-08-11 17:41] Draknek commented on #53
I'm experiencing this bug with a fresh install of boarding - trying to use a non-admin account with "app manager" permissions. The signup form appears fine, but when you submit it gives an error.

[2016-08-11 18:58] KrauseFx commented on #53
@Draknek boarding only supports Admin accounts currently

[2016-08-11 21:02] Draknek commented on #53
@KrauseFx Why is that? App manager accounts should have the required permissions I think, and it's reasonable to not want to share login credentials for an admin account.

I'm happy to take a look at the code if this might be a fixable problem?

[2016-08-11 21:44] KrauseFx commented on #53
@Draknek Yes, agreed. Feel free to dive into the spaceship code. One of the requests (I think `listTeam`) requires admin privileges, so that's why spaceship fails.
Your role is App Manager, and boarding doesn't work, right? If you don't get it to work, let me know, I might be able to look into this over the next few days/weeks 👍

[2016-08-12 01:20] Draknek commented on #53
Okay thanks. I'm not familiar with the codebase but I'll dive in and see if I manage to get anywhere.

And yeah, this is definitely related to roles: with the App Manager role boarding doesn't work, but with an admin role it does.

[2016-08-24 21:15] gambitx3x opened #94 "500 error We're sorry, but something went wrong."
Getting this when I deployed after following your steps with the heroku button. It seemed to install perfectly but when opening the app I get the "We're sorry, but something went wrong." error message.
My logs are below the image, not sure what to do. I saw in a related issue someone had an outdated version but mine is direct from the heroku button on the github code page in your readme.

![image]

[2016-08-24 21:22] gambitx3x commented on #94
it was a username permissions thing, i figured it out, had to use the master account

[2016-08-24 21:22] #94 closed

[2016-09-03 18:28] AlexEKoren commented on #59
It's only happening for me when users use Safari actually...

[2016-09-14 22:45] #59 closed

[2016-10-12 16:33] JAStanton opened #99 "Request timeout"
Apple is taking longer than 30 seconds to respond to the request to invite a user. These are logs as an example:
[code]

Heroku says this about long lived requests:
https://devcenter.heroku.com/articles/request-timeout

Note the user *IS* being added. But the server is just giving a bad response after 30 seconds. Pretty undesirable. The boarding app should be smart enough to deal with long lived r

[2016-10-15 23:53] avazquezpr commented on #70
For now, the only way to bypass this is to turn off Apple's Two-Factor Authentication...

[2016-10-19 20:43] drosenstark commented on #60
@KrauseFx it's freeware, so that's fine ;) In a similar vein: Is there a way to find out which users have boarded? Obviously Apple's interface can't tell you, nor does it even let me group all testers that already exist before I open the door with Boarding.

@pejalo you could add the testers to ANOTHER app and then move them over when you approve of them.

[2016-10-22 07:37] Nimothy opened #100 "Doesn't seem to work with 2FA"
Deployed a new Heroku app get an error on checking the production logs I see:

[code]

So it looks like it doesn't work with 2FA, so I generate an app specific password and get the error:

[code]

Any ideas how to resolve without turning of 2FA?

[2016-10-23 00:06] KrauseFx commented on #100
Did you modify invite_controller.rb? Where is `choose` being called?

[2016-10-23 07:47] Nimothy commented on #100
I made no modifications I tried with just the deploy to Heroku and got these results, when I tried an account without 2FA it worked perfectly....

In terms of `choose`, I think that's related to:
[code]

Looks like the `choose` is spaceship asking which number I want to use to login via 2FA, it seems there is no way of telling it to use an app specific password...

[2016-10-25 09:43] BeauNouvelle opened #101 "500 internal server error. Spaceship?"
[code]

Is it possibly related to this issue? https://github.com/fastlane/fastlane/issues/6711

Even the demo app on Heroku is currently down.
https://boarding.herokuapp.com

[2016-10-25 15:40] larsacus commented on #101
Seeing the same thing. Doesn't look like boarding has been updated for the fixes in fastlane/fastlane#6711, so redeploying from master doesn't help.

[2016-10-25 17:32] #101 closed

[2016-10-25 21:20] KrauseFx commented on #101
Hey everyone, thanks for the reports, I just pushed some changes, please follow the documentation on how to update your Heroku app

[2016-10-26 18:42] ay8s commented on #100
Think I am seeing the same behaviour after setting up a app specific password.

[2016-10-27 15:33] ohwutup commented on #100
Hi everyone,

Thanks for raising the issue... it looks like the `choose` method was a bit of a red herring, and we have added some documentation around getting _boarding_ working with 2FA here: https://github.com/fastlane/fastlane/tree/master/spaceship#2-step-verification.

That session that you get back from running `spaceauth` will last for a while, but it does still require that you pass the us

[2016-10-27 15:33] #100 closed

[2016-11-13 22:31] harkmall commented on #100
Probably a dumb question, but how do I pass the session as ENV to my boarding site on heroku? I just followed the steps on the boarding README

[2016-11-14 09:46] deemr-pablo opened #104 "Current version broken?"
I have set up my boarding page following the instructions here and I get:

[code]
When I then tried running the demo https://boarding.herokuapp.com/, i get the same error.
Is the tool broken?

[2016-11-14 14:36] ohwutup commented on #100
Hey @harkmall, not a dumb question at all! You should be able to set environment variables in the Settings pane of your heroku app and click on `Reveal Config Vars`.

Let us know if you have any more questions!
![screen_shot_2016-11-14_at_9_32_55_am](https://cloud.githubusercontent.com/assets/2587018/20268592/d33b7da2-aa4d-11e6-9904-3f808b979e11.png)

[2016-11-14 14:43] harkmall commented on #104
+1 experiencing this too

[2016-11-14 14:46] harkmall commented on #100
I did that but I still get the "Something went wrong" error. Its also happening on the demo site as per #104, so maybe its a different issue.

[2016-11-14 15:31] ohwutup commented on #100
Would you mind sharing your logs? I am able to get up and running with 2FA in my own testing, so it would be helpful to see your output. Thanks!

[2016-11-14 15:33] ohwutup commented on #104
Hey @deemr-pablo, I am also seeing that error when I go to that link. We are investigating now, but in the meantime can you please share the output that you are seeing in logs?

Are you able to run your _boarding_ page locally?

[2016-11-15 00:07] harkmall commented on #100
[code]

[2016-11-15 02:43] ay8s commented on #100
I got around this in the end after the tweak to not require an admin account was merged, I now use another account without 2FA enabled.

[2016-11-15 09:01] deemr-pablo commented on #104
Hello,  thanks for the replay.
It was actually my fault that my deploy didn't work. I had a wrong ITC_APP_ID in the config vars. Correcting that fixed the issue.

[2016-11-15 09:01] #104 closed

[2016-11-15 15:43] ohwutup commented on #100
@harkmall, are you providing the `ITC_PASSWORD` environment variable when you are running the app?

[2016-11-15 15:50] harkmall commented on #100
It is a config var on my heroku app if that's what you mean.

[2016-11-15 15:57] ohwutup commented on #100
@harkmall and sorry for the annoying question, but you are running an up-to-date version of _boarding_?

[2016-11-15 16:01] harkmall commented on #100
I just followed exactly what it says to do in the "getting started" section of the readme. I also tried doing the "update to a new version" but that didn't exactly work either 😬

[2016-11-20 17:21] harkmall commented on #100
Any suggestions on what to do @ohwutup

[2016-11-21 16:07] ohwutup commented on #100
Hey @harkmall, I just wanted to double check that you are running from an up-to-date clone of the repo? We fixed a bug a couple of weeks ago that should have fixed this situation. Could you try just running a `git pull origin master` on the repo and trying again?

[2016-11-22 00:06] harkmall commented on #100
@ohwutup I followed the instructions in the "Customize" section of the readme if thats what you mean

[2016-11-22 15:04] ohwutup commented on #100
Hey @harkmall, sorry for the misunderstanding, maybe a better question is, when was the last time you updated your clone of this repo?

[2016-11-23 00:00] harkmall commented on #100
I feel like I'm missing something, I just followed the "Getting Started" section of the readme, I never cloned this repo

[2016-11-23 05:10] ohwutup commented on #100
Oh! I'm sorry! Total misunderstanding, I had forgotten about the deploy to heroku button!  My apologies! I will take a look at this shortly and get back to you with a more accurate answer.

[2016-11-30 20:28] bchrobot opened #110 "[Feature] Email notification on signup"
Add option to send notification email to a specific address when a user signs up.

If appropriate SMTP environment variables as well as `EMAIL_NOTIFY_ADDRESS` (or similar) are set then configure Action Mailer to send email on new sign up.

(Related to #20)

[2016-12-02 19:53] KrauseFx commented on #2
Not planned

[2016-12-02 19:53] #2 closed

[2016-12-04 17:41] JohannesDeml commented on #100
Hello everyone!

I got the exact same problem and tried to follow the provided guides:
- I set a config var "FASTLANE_SESSION" with the value I got from spaceauth
- I pulled the latest version as described in the upgrade session of boarding

Config var FASTLANE_SESSION:
`---\n- !ruby/object:HTTP::Cookie\n  name: DES5b1c45f4REMOVED\n  value: HSARMTKNSRVREMOVED=SRVT\n  domain: idmsa.apple.com\n  for

[2016-12-05 18:48] larsacus commented on #101
After seeing @bchrobot's reply on here, checked my boarding instance and it also is indeed down. I can confirm mine was working as recently as Friday.

[2016-12-05 18:49] owencarp commented on #70
Is there a workaround for this @KrauseFx ?  I do not have two factor authentication enabled on my Apple ID however I noticed this behavior after a few days (set up on Friday worked fine, see the error on Monday)

I am not a Heroku expert and simply deployed from the button on the GitHub readme.

I'd really like to use this service but this is a major issue.

[2016-12-05 21:04] alex-dorokhov commented on #70
I have the same issue as @owencarp from today with the same log.
I have tried to reset heroku db (with **heroku pg:reset DATABASE**) and restart all dynos, but it didn't help.

[2016-12-06 02:52] KrauseFx commented on #101
Thanks, should be fixed with https://github.com/fastlane/boarding/pull/111, please update 👍

[2016-12-06 16:09] harkmall commented on #100
@ohwutup Any updates?

[2016-12-08 02:21] flyingbanana1024102 commented on #70
I just ran into this issue as well. I had luck for 2 weeks before I got this.

[2016-12-08 17:39] mafellows commented on #70
I'm seeing this issue as well.

[code]

[2016-12-08 17:52] KrauseFx commented on #70
Please update to the latest version, this is not related to the original issue, but with a new version of _spaceship_

[2016-12-08 19:13] owencarp commented on #70
@KrauseFx killed and re-deployed my application through the link the Readme and it is working!  Thanks for the quick fix guys.

[2016-12-12 22:13] farice opened #114 "Potential security vulnerability"
Shortly (couple of hours) after launching my application I received an alert to verify my sign in on a device somewhere in China. Thankfully, I had two step verification on my account so I was able to reject the user from hacking in to my account.

I have not looked into the vulnerability thoroughly and of course it is somewhat speculative that I'm assuming it's related to Boarding. I am curious t

[2016-12-12 22:22] KrauseFx commented on #114
Thanks for submitting this issue. _boarding_ is completely self-hosted and you are storing the password on your server. If you used the Heroku button, you provided the login credentials via environment variables, which are then stored on Heroku. If you share some more information about your setup, it's easier to help 👍

[2016-12-12 23:08] farice commented on #114
@KrauseFx Thanks for the message back. That's what I meant when I said encrypted on the server--I know that it is the self-launched Heroku server. However, I was curious whether environment variables could be accessed by a malicious user.

After looking into it, it's clear that that is not the case. So, it's likely the hack was a genuine coincidence. Thanks again.

[2016-12-12 23:08] #114 closed

[2016-12-14 21:20] MaikoHermans opened #115 "[Feature] Deploy on Dokku"
Add option or `How To` for using boarding with Dokku.
In this way a personal server can be used for boarding. This would mean you have total control over it without any additional costs.

[2016-12-14 21:54] KrauseFx commented on #115
Sure thing, it's a standard Rails app, so you can deploy this application anywhere you want 👍  For simplicity we currently only describe how to set it up on Heroku, however feel free so submit a `Dokku.md` document that describes how to set it up there

[2016-12-20 06:12] kobkrit opened #117 "Failure to Deploy in Heroku"
I can not deploy a boarding on the heroku using the link in Readme.md file.
![image](https://cloud.githubusercontent.com/assets/280986/21339983/e8601cea-c6b5-11e6-870e-4094b1096e17.png)

It failed in the building step.

[code]

[2016-12-20 07:07] adad184 commented on #117
same issue to me

[2016-12-20 10:53] KrauseFx commented on #117
Thanks for submitting the issue, and sorry about that, we're looking into this 👍

[2016-12-20 21:24] ohwutup commented on #117
Hey @kobkrit and @adad184! We made some changes to _boarding_ and _fastlane_ things should be up and running! Please let us know if you are having more issues! 🚀

[2016-12-20 21:24] #117 closed

[2016-12-25 03:58] kobkrit commented on #117
Great! 👍

[2017-01-31 09:42] nickpodratz opened #121 "505 internal server error"
The deployment scripts in the Heroku GUI completed, but if I try to open the page for my new app I get the message "We're sorry, but something went wrong. – If you are the application owner check the logs for more information." Here is the log:

[code]

I'm not sure what 505: internal server error means. Is it the Heroku service having some issues or is it due to my setup? There were no complaints

[2017-01-31 17:44] KrauseFx commented on #121
Have you updated to the latest version of boarding, as described in the proejct's readme?

[2017-02-01 09:40] nickpodratz commented on #121
Yes, I just checked again. Is this probably related to https://github.com/fastlane/fastlane/issues/4391? I get the confirmation code push message displayed every time I try to open the Heroku app-page and there is no place I can enter it.

[2017-02-01 16:56] bastikohn commented on #121
I am having a similar problem:
I get the same error as above, when I don't set FASTLANE_SESSION. However, I don't get the confirmation code via push.
If I set the session with spaceauth I get the following error:

[code]

[2017-02-16 13:26] mssun commented on #121
Hi, I followed the instruction to deploy boarding in Heroku. I am using two-factor authentication. I just deployed on Heroku and using the latest boarding. After setting the FASTLANE_SESSION environment variable in Heroku's Settings -> Config Variables, I am getting following errors. I don't know it it's related to previous reports. I am sure I copied the right session string from the `fastlane sp

[2017-02-23 19:55] klemenzagar91 opened #122 "Is it possible to implement boarding in our website that is build on Squarespace?"
Im iOS developer and not really used to programming for web. But I learned how to create boarding page via heroku.

But for our current project we have a landing page built on squarespace. There is a signup form for our beta. and Im wondering if there is a way to implement boarding feature that will send email addresses to our itunes connect.

[2017-02-24 05:10] KrauseFx commented on #122
Sorry that's not possible, however you could easily host your own Heroku container and then show that inside an `iframe` 👍

[2017-04-05 11:33] marciliojrs commented on #121
Any updates about this issue? I'm having the same problem. I already set the FASTLANE_SESSION env variable in Heroku and everytime I open the heroku app I have this log:

[code]

[2017-04-12 15:03] andessa opened #126 "Registration error since the new version of iTunes connect"
it seems that Heroku isn't compatible with the new version of iTunes connect.

![image](https://cloud.githubusercontent.com/assets/27359398/24964560/edd83dde-1fa1-11e7-9437-aa3a55a53d57.png)

Does someone found a solution ?

[2017-04-12 15:55] mssun commented on #126
Same issue for me.

[2017-04-12 16:53] Phoenix7351 commented on #126
Same here.

[2017-04-12 22:51] KrauseFx commented on #126
We're working on a new version, you can follow the progress over here: https://github.com/fastlane/fastlane/pull/8871

Unfortunately there is a bug on iTunes Connect we have to wait for until we can ship 👍

[2017-04-13 05:46] TonyZPW commented on #126
Same, I need boarding very much now~...

[2017-04-14 15:59] phonggenix commented on #126
Same here.

[2017-04-14 16:37] KrauseFx commented on #126
Thanks everyone, please subscribe to https://github.com/fastlane/fastlane/pull/8871 to stay up to date on a fix 👍

[2017-04-20 17:01] plaetzchen commented on #126
So fastlane/fastlane#8871 is merged. Does this mean this should be fixed soon?

[2017-04-20 18:10] rmoriz commented on #126
I've manually updated the Gemfile.lock to get the new `fastlane` gem in, however:

 ```#<RuntimeError: `[tester].add_to_app!` got removed from spaceship as the TestFlight API changed, please use `app.default_external_group.add_tester!(tester)` instead>```

caused by https://github.com/fastlane/boarding/blob/41fb6571d461f13ce97209455250c1f8beb1d20f/app/controllers/invite_controller.rb#L94

[2017-04-21 19:00] hengdaxiaofinnair commented on #126
Depoly

[2017-04-21 19:01] hengdaxiaofinnair commented on #126
Deploy the latest the version to heroku, but when try to add the test user. Get this error

#<NoMethodError: undefined method `add_tester!' for nil:NilClass>

Some clue?

[2017-04-21 19:59] skalee commented on #126
@hengdaxiaofinnair Sure. No default external group. I don't know whether it's Boarding issue or configuration issue.

[2017-04-22 07:50] KiminRyu commented on #126
I got this error when I tried to register external tester. Attachment for log in heroku.

2017-04-22T07:45:07.202687+00:00 app[web.1]: Found tester
2017-04-22T07:45:07.257045+00:00 app[web.1]: #<Faraday::SSLError wrapped=#<OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=unknown state: tlsv1 unrecognized name>>
2017-04-22T07:45:07.257109+00:00 app[web.1]: /app/vendor/ruby-2.2.6/lib/rub

[2017-04-22 22:17] skalee commented on #126
@hengdaxiaofinnair @KiminRyu try #130.

[2017-04-23 15:49] hengdaxiaofinnair commented on #126
@skalee Thanks. Seems like works

[2017-04-23 21:17] jschementi opened #133 "Error when adding a tester to application"
When adding a tester, a `NoMethodError: undefined method `add_tester!' for nil:NilClass` exception happens before actually adding the tester, but after creating the external user in iTunes Connect.

Repro Steps:
1. Press "Deploy to Heroku" on the [Getting Started section of the boarding README](https://github.com/fastlane/boarding#getting-started).
2. Fill out required fields and press Deploy.
3.

[2017-04-23 23:29] enahum commented on #133
I got the same error

[2017-04-24 08:15] plaetzchen commented on #133
It is probably caused by a missing default group. Check #130

[2017-04-24 09:32] ogezue commented on #126
Which steps are necessary to make it working with heroic again?
Deployed today but still getting error after registration.

[2017-04-24 15:26] ogezue commented on #126
I suppose this is not possible with the heroku-one-click installation?

[2017-04-24 15:35] plaetzchen commented on #126
@ogezue It is but you will need to do the following (see README):

- Clone from Heroku git
- Pull master
- Pull in the pull request ([see here](https://help.github.com/articles/checking-out-pull-requests-locally/))
- `git merge <the-branch>`
- `git push`

[2017-04-24 15:48] ogezue commented on #126
Thanks! Will try this. Hopefully @KrauseFx will merge soon.

[2017-04-26 07:04] Lida opened #136 "Unauthorized Access when getting default_external_group"
I get this error fairly consistently when the boarding heroku app has been up for a while. My guess is that the session's authorization has timed out and needs to be refreshed. What would be a good fix for this?

#<Spaceship::Client::UnauthorizedAccessError: Unauthorized Access>
2017-04-26T06:16:18.894462+00:00 app[web.1]: /app/vendor/bundle/ruby/2.2.0/gems/fastlane-2.28.3/spaceship/lib/spaceship/

[2017-04-26 07:09] ogezue commented on #126
@plaetzchen ?'m having problems merging your pull request locally. The syntax I assumed is wrong
` git fetch origin pull/130/head:arbitrary-groups`

Can you help please?

[2017-04-26 07:59] plaetzchen commented on #126
@ogezue It's not mine but I can help.
This is what I did:

1. Git clone from Heroku
2. `git remote add origin https://github.com/fastlane/boarding.git`
3. `git fetch origin pull/130/head:arbitrary-groups`
4. `git checkout arbitrary-groups`
5. `git merge master`
6. `git checkout master`
7. `git merge arbitrary-groups`
8. `git push heroku master`
9. Set ENV variable on Heroku under Settings

[2017-04-26 08:14] ogezue commented on #126
Thank you so much! I executed the steps above, added an ENV variable with value 'myTestGroup' that I have created in ITC, restarted all dynos but the error message remains the same. Do you know what could be the problem?

[2017-04-26 08:31] plaetzchen commented on #126
OK can you install the heroku CLI tools and run heroku <instance> logs after testing it and post it here? May that's gives us an idea

[2017-04-26 09:10] ogezue commented on #126
I think that's it:
`2017-04-26T08:29:12.434199+00:00 app[web.1]: Found tester
2017-04-26T08:29:12.699486+00:00 app[web.1]: #<Spaceship::Client::InsufficientPermissions: User testaccount@testcompany.com (Team ID 123456) doesn't have enough permission for the following action: parse_response>
2017-04-26T08:29:12.699631+00:00 app[web.1]: /app/vendor/bundle/ruby/2.2.0/gems/fastlane-2.28.2/spaceship/li

[2017-04-26 09:12] plaetzchen commented on #126
Right now boarding needs admin rights otherwise it will not work after the API changes. Maybe @KrauseFx can help to clarify why that is the case.

[2017-04-26 09:19] ogezue commented on #126
Yes! Now after granting admin rights I can confirm that it is working!

Thank your very much!

[2017-04-26 09:27] ogezue commented on #126
Perhaps one remark: I was expecting that the user was added to the group I specified with the ENV variable. Instead it was added to the default group.

[2017-04-26 16:18] afehners opened #137 "Boarding fails to add new tester"
Probably related to the recent TestFlight changes, but after updating to the latest version of Boarding I am unable to add a new tester. Heroku logs extract:

[2017-04-26 18:05] taquitos commented on #137
Give it one more shot, I just merged a large PR with updates for the recent changes. That being said, this error message does sort of seem like your itunesconnect user doesn't have the right role to be able to add external testers... or our error message is wrong 🤷‍♂️

[2017-04-26 18:13] taquitos commented on #126
A fix for this has been merged, along with a significant refactor.
Check out https://github.com/fastlane/boarding/pull/135 for details, you can set ```ITC_APP_TESTER_GROUPS="group 1, group 2"```

There are a bunch of added startup checks too, so you can know if everything is configured correctly before loading the page.

Let me know if you have any questions, otherwise I think we can close this is

[2017-04-26 18:14] taquitos commented on #78
Is this still an issue? It's been quite a long while.

[2017-04-26 19:29] Lida commented on #137
The Gemfile.lock shows Fastlane version 2.29.1?

[2017-04-26 19:47] taquitos commented on #137
Whoops, I had a local version of fastlane where I bumped the version up super high. The current version of fastlane is correct. I'll fix that.

[2017-04-26 19:52] Lida commented on #137
Cool. I also added a couple of notes on the issues I had when I ran latest in your last commit.

[2017-04-26 19:57] taquitos commented on #137
Fixed the version (back to 2.28.4)

[2017-04-27 02:03] TonyZPW commented on #126
@taquitos thank you~ it works perfect~

[2017-04-27 02:20] JohnClema commented on #13
As of today I am getting the exact same issue (without the forbidden error bit)

`#<Spaceship::Client::UnexpectedResponse: {"data"=>nil, "messages"=>{"warn"=>nil, "info"=>nil, "error"=>[""]}, "statusCode"=>"ERROR"}>`

[2017-04-27 05:21] mrgrauel commented on #137
I have the same issue with the current master version of boarding. Deployed on Heroku and the user has the permission to add testers.

[2017-04-27 05:59] Eths commented on #78
@taquitos yes, trying to update:

`NoMethodError: undefined method `apple_id' for nil:NilClass
remote:        /tmp/build_f878674cfa391aa9aa859f440f00e0e7/app/services/boarding_service.rb:81:in `ensure_values'
remote:        /tmp/build_f878674cfa391aa9aa859f440f00e0e7/app/services/boarding_service.rb:32:in `initialize'
remote:        /tmp/build_f878674cfa391aa9aa859f440f00e0e7/config/initializers/s

[2017-04-27 10:34] afehners commented on #137
Pulled latest changes and pushed to my heroku app. I get the same failure.

Permission of user credentials supplied is "App Manager", which is able to add new testers.
It's strange that the error is that the user does not have permission to 'parse_response'. It's usual for permissions to stop an action being taken, but not to read a response from an action?

#<Spaceship::Client::InsufficientPermis

[2017-04-27 15:57] #126 closed

[2017-04-27 16:03] taquitos commented on #78
@Eths I'm looking into it now, thanks for testing it out!

[2017-04-27 16:25] taquitos commented on #78
Ahh, ok, here we go: https://github.com/fastlane/boarding/pull/141

It looks like your app with the apple_id you specified wasn't being found and it was causing validation to unintentionally raise an exception. The referenced PR should give you an error message now instead of just failing.

[2017-04-27 17:04] taquitos commented on #137
Yeah, I think that's misleading. What seems to be happening is that during `parse_response` spaceship isn't getting the content it is expecting and it raises an exception via: `detect_most_common_errors_and_raise_exceptions` because `if body["messages"] && body["messages"]["error"].include?("Forbidden")` is true.
So basically some call is returning that your user doesn't have permission.

It looks

[2017-04-27 17:08] taquitos commented on #137
Just added fastlane issue: https://github.com/fastlane/fastlane/issues/9011

[2017-05-02 09:53] TonyZPW opened #144 "new version can't add tester to default group"
if not add ITC_APP_TESTER_GROUPS key to heroku setting, boarding can not add new tester to default group. but show successful.

[2017-05-02 09:58] KrauseFx commented on #144
Do you run into that issue when you provide the `ITC_APP_TESTER_GROUPS` variable, or do you get the error when you don't? Can you share your server logs maybe?
Thanks 👍

[2017-05-02 13:52] Lapinou42 commented on #144
I noticed if I set the variable ITC_APP_TESTER_GROUPS with a value, I have an application error on my Heroku app.

[2017-05-02 13:52] TonyZPW commented on #144
2017-05-02T13:49:52.859138+00:00 app[web.1]: Started POST "/submit" for 60.249.92.67 at 2017-05-02 13:49:52 +0000
2017-05-02T13:49:52.861138+00:00 app[web.1]: Processing by InviteController#submit as HTML
2017-05-02T13:49:52.861329+00:00 app[web.1]:   Parameters: {"utf8"=>"✓", "authenticity_token"=>"YPQNkVtrleAH9CnhZuvgsxJUz2tKq4d0ueQTvOd9zGAmknFURJyOcYzY9mQSn0w2Kw/A0C6V/6EuLGLt3APa8w==", "first_n

[2017-05-02 13:53] TonyZPW commented on #144
above is no ITC_APP_TESTER_GROUPS setting, but if i set ITC_APP_TESTER_GROUPS it works well

[2017-05-02 13:59] arshiacont commented on #144
I am running into the same problem. Can you advise what would be the correct string to set for `ITC_APP_TESTER_GROUPS` so that user would land on iTunesConnect default "External Users"?

I can actually see that the user is added in the "TestFlight betaTesters/External" in the "Users and Roles" but not actually in the "External Testers" of the APP/TestFlight in iTunesConnect! It's the second that w

[2017-05-02 14:07] TonyZPW commented on #144
@arshiacont i create a custom group in iTunes connect and the ITC_APP_TESTER_GROUPS 's value is set with that value.

[2017-05-02 14:18] arshiacont commented on #144
Thank you @TonyZPW . This actually works... . I am wondering if anyone here knows the correct String to define for `ITC_APP_TESTER_GROUPS` for iTunesConnect's default group called "External Testers".

Looking at the code, when the above var is empty Boarding should revert to a variable called `app.default_external_group` but apparently it doesn't... . Trying to learn stuff here to debug.. any help

[2017-05-02 14:28] arshiacont commented on #144
Seems like this is related to #130

[2017-05-02 16:48] taquitos commented on #144
I'm taking a look at this, thanks for reporting!

[2017-05-02 18:10] taquitos commented on #144
Hey all, a fix was just merged. Sorry about that!

[2017-05-02 21:35] #144 closed

[2017-05-03 05:34] Eths commented on #78
Thanks, working fine with my project now

[2017-05-03 08:02] arshiacont commented on #144
Many many thanks! Works like a charm..

[2017-05-03 16:31] aspdotmike opened #146 "Email address already registered"
I keep getting the message email is already registered even though the email entered has never been invited before.

[2017-05-03 17:05] #78 closed

[2017-05-04 03:12] AlexEKoren opened #147 "No E-mails sent out"
I have had Boarding working, but since the last updates (when iTunes Connect updated), users will sign up and it will show success, but the e-mail won't be sent to the user asking them to sign up or install TestFlight.

It adds them to the external testers, but no e-mail is sent out.

Any ideas?

Thanks!

[2017-05-04 10:15] KrauseFx commented on #146
Could you share the server log when running it? Thanks 👍

[2017-05-04 10:17] aspdotmike commented on #146
2017-05-03T18:18:51.017182+00:00 app[web.1]: Processing by InviteController#submit as HTML
2017-05-03T18:18:51.017244+00:00 app[web.1]:   Parameters: {"utf8"=>"✓", "authenticity_token"=>"v7+xxxxxxx==", "first_name"=>"Jennie", "last_name"=>"Slow", "email"=>"slowjennie@amobile.com", "commit"=>"Get Beta Access"}
2017-05-03T18:18:51.027714+00:00 app[web.1]: Creating a new tester: slowjennie@amobile.co

[2017-05-04 10:30] aspdotmike commented on #146
the user gets properly added. it's just that even though its successful, I get the email already exists everytime.

[2017-05-04 20:06] taquitos commented on #146
I'm having a difficult time repro'ing this. One way I am able to repro is by doing the following:

1. Add tester to app (default external tester)
2. Remove tester from app
3. Add tester (get message)

This is expected now, though. Since the new TestFlight changes, testers get added to a pool of testers when you add them to your app. When you remove the tester from the app, they still remain in the

[2017-05-05 14:15] nprail commented on #100
Is it possible to use an application specific password for this? I couldn't get it to work using the `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` password. I has to use `FASTLANE_SESSION` which if I understand correctly, expires eventually. I don't want to have to set that whenever it expires.

[2017-05-05 14:28] KrauseFx commented on #100
@nprail no, unfortunately it's not possible to use an application specific password for the generic auth, but only for the iTunes Transporter. There is not much we can do unfortunately.

[2017-05-05 14:40] nprail commented on #100
Okay, thanks. It might be a good idea to mention that in the README. It also would be good if the `FASTLANE_SESSION` option was available for the Heroku deploy button so that it's easy to setup.

[2017-05-06 20:38] AlexEKoren commented on #147
Updating this issue with the fix that worked for me and a second issue based on this:

FIX: I added External Testers to my build and then when people used Boarding, they got the e-mail. Problem solved.

NEW ISSUE: If a user had been added to a previous build and then that build expired, if they signed up again to get access to the new build, their "e-mail was already in use" so I had to manually a

[2017-05-07 08:18] arshiacont commented on #146
From my recent experience doing tests: If you remove a user from the _APP_ section of iTunesConnect, the user is not actually removed! You can still see her/him in the _USERS & ROLES_/External Testers of iTunesConnect.
The only way to completely remove testers from iTunesConnect (in order to be able to add them later) is to do it from the _USERS & ROLES_ and not from the _APP_ section!
Now, what d

[2017-05-07 08:20] aspdotmike commented on #146
I've been adding completely new users and still get the duplicate message.
I think it has to do with how the controller code and how it's handling the
@message response.
On Sun, May 7, 2017 at 10:18 AM Arshia Cont <notifications@github.com>
wrote:

[2017-05-07 10:33] KrauseFx commented on #147
@AlexEKoren In theory, _boarding_ could automatically add the group to the most recent build, however it should be part of your build process. When you upload a new binary to iTunes Connect, you can then distribute the binary to your testers, by adding the `External Testers` group to the newly uploaded build.

If you use _fastlane_, you can update your _testflight_ call to look like this:
[code]

[2017-05-09 09:04] mrgrauel commented on #137
@taquitos something new?

[2017-05-09 09:40] reshadf opened #149 "App creation fails on heroku when using 2 step verification"
Hi, The app fails deploying because of 2 step verification. I read the README but does this mean I need to clone the boarding project instead of deploying it right away in order to get an app key? Im lost a bit in the docs

[2017-05-09 10:49] KrauseFx commented on #149
Hey @reshadf, no, you can directly publish the server on Heroku. You can generate a 2 factor key here https://docs.fastlane.tools/best-practices/continuous-integration/#two-step-or-two-factor-auth

[2017-05-09 12:26] reshadf commented on #149
I tried using an app specific password but it says the credentials are invalid.. I am 100% certain they are correct :/

[2017-05-09 15:37] taquitos commented on #137
@mrgrauel  I'm writing some tests right now for: https://github.com/fastlane/fastlane/pull/9046 and that should fix this.

[2017-05-09 16:10] KrauseFx commented on #149
App Specific passwords only work for the transporter for binary uploads, not for managing testers. Please use your real user/password and then generate the session token using `spaceauth`

[2017-05-09 16:12] reshadf commented on #149
Where do I put that key in heroku while using the heroku installer on the github page?

[2017-05-09 17:33] KrauseFx commented on #149
You can set that on Heroku.com when you access your app's environment variables 👍

[2017-05-09 18:47] mrgrauel commented on #137
Awesome. Can I help you?

[2017-05-09 20:33] taquitos commented on #137
Thanks for the offer! I'm actually now just waiting for feedback from 2 people, and then we're 💯

[2017-05-10 00:08] JAStanton commented on #137
Oh it looks like https://github.com/fastlane/fastlane/pull/9046 was just merged, what needs to happen to get boarding project to pull in the fix?

[2017-05-10 00:19] taquitos commented on #137
Changes were merged into fastlane that this depends on now. I needed to make a few updates to boarding, so I have https://github.com/fastlane/boarding/pull/150 up.
It copies a bit of the logic found in the fastlane pr, so maybe we should extract out the duplicate logic into Spaceship at some point. I wanted to get us back up and running instead spending the time refactoring.

Hopefully we can do a

[2017-05-10 06:27] owurman commented on #146
I'm getting this too. It seems rather obvious that the code in boarding_service.rb treats this as a message worth relaying the user, even though it's not a big deal (and, as observed above, expected).

I think the message should only be "Email address is already registered" if the tester exists **and** was already added to external testers

It's perfectly plausible that the user (or admin) removed

[2017-05-12 08:30] enderoe opened #154 "Cant deploy to Heroku"
When I try to deploy to Heroku I get the following error over and over.

I have disabled 2-step-verification but that did not fix the problem.

`-----> Ruby app detected
-----> Compiling Ruby/Rails
-----> Using Ruby version: ruby-2.3.4
-----> Installing dependencies using bundler 1.13.7
       Running: bundle install --without development:test --path vendor/bundle --binstubs vendor/bundle/bin -j4

[2017-05-13 12:18] KrauseFx commented on #154
Could you try again? it should work now

[2017-05-15 01:51] RPasecky opened #156 "Fatal Sign-up Error ("Undefined method 'admin?' for nil:NilClass")"
I have successfully deployed the heroku app however when I try to create a new user, I get this error

Has anyone else run into this issue?

This is the log from the event, with some redacting:

2017-05-15T01:45:04.372172+00:00 heroku[router]: at=info method=GET path="/assets/application-3242170f28b3708d4591ea0b3f7ddfc4e4c9c6e182222d74f01449e323a3dbb7.js" host=sleepy-brushlands-18802.herokuapp.com

[2017-05-15 03:24] RPasecky commented on #156
Did some testing after looking at the source code and it looks like its related to these lines in boarding_service.rb:

`  private

    def create_tester(email: nil, first_name: nil, last_name: nil, app: nil)
      current_user = Spaceship::Members.find(Spaceship::Tunes.client.user)
      if current_user.admin?
        tester = Spaceship::Tunes::Tester::External.create!(email: email,

[2017-05-15 07:05] enderoe commented on #154
Works like a charm now 👍

[2017-05-15 07:05] #154 closed

[2017-05-17 11:49] reshadf commented on #149
I have tried setting the variable FASTLANE_SESSION but it seems like its ignored, all the other variables work just fine. (ITC_USER etc .. ) It keeps asking for a way to verify through 2 step verification Is that the correct key to use? *FASTLANE_SESSION* ?

[2017-05-19 18:45] taquitos commented on #137
This has shipped 🎉

[2017-05-19 18:45] #137 closed

[2017-05-23 08:06] s2imon commented on #70
Hey Felix, I think I've run into a similar problem that I'm not able to currently understand. Since I'm running the latest version, are you able to shed some light on this for me? It was running since 22 days exactly, maybe it's connected with "3 weeks", but not sure how.

[code]
thanks a bunch!

[2017-05-23 12:14] cms5x opened #162 "Question: best way to setup testing / alerts for when boarding -> ITC is not working?"
Recently, a potential user tried to sign up via our boarding site and got an error, because we had not updated our boarding app after the latest ITC changes (groups of external testers I think).

Is there a way to script "dry run" style testing (I.e. force boarding to communicate with ITC but not actually create a new tester that counts against the 2000 tester limit)? (So that I can be alerted whe

[2017-05-23 17:56] beyerss commented on #149
@KrauseFx - I don't have an option to set the application's environment variable for `FASTLANE_SESSION` because the application creation fails due to 2 factor auth. Below is the screen shot of the only settings I have to choose from because I can't get beyond the "New App" screen on Heroku.

<img width="1122" alt="screen shot 2017-05-23 at 1 52 42 pm" src="https://cloud.githubusercontent.com/asset

[2017-05-24 08:19] reshadf commented on #149
@beyerss I eventually created a new Apple ID just for this. It wouldn't work with 2 step verification. I even tried cloning Boarding and create a rails application on heroku, add config variables and then deploy but new errors were coming up all the time all related to verification. I think the best solution would be to create a new Apple ID to do stuff like this on.

[2017-05-25 19:57] dbozgoren opened #164 "Failure to create/deploy Heroku App"
Simply followed the instructions on the Fastlane Boarding page and clicked https://www.heroku.com/deploy?template=https://github.com/fastlane/boarding

Entered App name, ITC_USER, ITC_PASSWORD and ITC_APP_ID. Then clicked deploy. Keep getting build fail.

Here is what I get. Same deal if I delete and try starting from Heroku instead and pulling fastlane and pushing to heroku master. Thanks for hel

[2017-05-25 21:27] KrauseFx commented on #162
You can set the `ITC_IS_DEMO` environment variable 👍

[2017-05-25 21:28] KrauseFx commented on #70
@s2imon thanks for letting me know, I just pushed a new commit, please update to the most recent version 👍

[2017-05-25 21:28] #70 closed

[2017-05-26 06:54] JohnClema commented on #146
Also getting the above - seems to be saying the user is already registered

[2017-05-26 11:44] cms5x commented on #162
Thanks!

[2017-05-26 11:44] #162 closed

[2017-05-27 23:32] aspdotmike opened #165 "Application Error on Successful Invite"
I deployed a fresh version of the app few minutes ago. Whenever I enter in an email, an application error occurs ( the user is successfully added on testflight )

2017-05-27T23:26:03.711723+00:00 app[web.1]: Creating a new tester: jl2222@am.com - Remy Vo
2017-05-27T23:26:07.412972+00:00 app[web.1]: Successfully added tester: jl2222@am.com to your account
2017-05-27T23:26:33.708868+00:00 heroku[rou

[2017-05-30 02:38] dbozgoren commented on #164
Tried today again. It worked.

[2017-05-30 02:39] #164 closed

[2017-05-31 19:03] albertodebortoli opened #166 "NoMethodError: undefined method `email' when registering user"
Encountering error when registering user

<img width="342" alt="screen shot 2017-05-31 at 20 01 59" src="https://cloud.githubusercontent.com/assets/653112/26648970/10f990ae-463c-11e7-9714-b34f241897fa.png">

[code]

[2017-06-01 13:52] angelcustodio commented on #166
Same error here :/

[2017-06-01 14:04] angelcustodio commented on #166
Your ITC user should have admin privileges, if not, the app won't work properly :/
There's a conversation about this here and we all arrived to the same point https://github.com/fastlane/boarding/issues/53

[2017-06-01 14:48] taquitos commented on #166
We recently made an update so that you need either `Admin` or `App Manager` 🎉

[2017-06-01 14:50] taquitos commented on #53
This should work now, https://github.com/fastlane/boarding/pull/150 was merged a little while ago to enable `App Manager` to be used along with `Admin`

[2017-06-01 20:22] albertodebortoli commented on #166
Thanks guys, I've now seen #137. My bad in misreading the permissions in iTC.

[2017-06-01 20:22] #166 closed

[2017-06-02 20:01] emcniece opened #167 "Dockerized version available"
Hey folks, just wanted to drop a line about a Docker container for Boarding.

https://github.com/emcniece/docker-boarding

https://hub.docker.com/r/emcniece/docker-boarding/

This container clones master branch of this repo. A better paradigm would be to create a Dockerfile in fastlane/boarding and `ADD . /app` instead of `RUN git clone https://github.com/fastlane/boarding.git` - that change is ea

[2017-06-03 18:15] KrauseFx commented on #167
That's awesome, thanks for sharing. Yeah, it would be great to add the instructions to the `boarding` README 👍

[2017-06-05 05:09] emcniece commented on #167
Can do.

Would you like a Dockerfile added directly to fastlane/boarding, or would you prefer to keep the projects separate?

[2017-06-06 08:44] cortnum opened #169 "No default external group"
Hi,

I am getting the following error (clean install from "Deploy to Heroku")

And the option to create TestFlight groups, have disappeared from iTunes Connect. Any help would be much appreciated :)

[2017-06-06 08:44] cortnum commented on #169
Btw. the user is actually added as an external tester in ITC.

[2017-06-13 14:42] 2manyprojects2littletime opened #170 "boarding.herokuapp.com is down"
<img width="999" alt="screen shot 2017-06-13 at 11 40 41 am" src="https://user-images.githubusercontent.com/6059148/27088133-42df20f2-502d-11e7-961d-7a07738cd453.png">

[2017-06-13 20:52] KrauseFx commented on #170
Ah nice, thanks for letting us know, I'm on it 👍

[2017-06-13 20:56] KrauseFx commented on #170
It's fixed now 🚀

[2017-06-13 20:56] #170 closed

[2017-06-13 22:06] mhassanpur commented on #99
Any updates on this? Seems like it is consistently taking longer than 30 seconds to add a user on my end. Definitely undesirable behavior.

[2017-06-15 08:10] emcniece commented on #167
bump @KrauseFx

[2017-06-19 20:20] KrauseFx commented on #167
Having it separate would be good, as we don't have the know how to maintain it. Feel free to submit a PR to link to that doc, happy to merge 👍

[2017-06-20 15:50] pke commented on #7
Will this ever come? @KrauseFx
Otherwise where are the users added at the moment? As itunes connect users?

[2017-06-20 16:57] KrauseFx commented on #7
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2017-06-20 16:57] #167 closed

[2017-06-23 13:02] eskerber commented on #156
I second this 👋

Though I get _other_ errors when using a non-admin (app manager).

[2017-06-26 22:40] taquitos commented on #156
Thanks for the report, being an `admin` should work. In this instance, it's weird because it means `Spaceship::Members.find(Spaceship::Tunes.client.user)` is returning `nil`. Are you sure the email you're using is an `admin` in iTunes Connect (check itunesconnect.apple.com)? I've had a problem in the past where I thought I was an admin, but it turned out I was just an admin in the iTunes Developer

[2017-06-26 22:41] taquitos commented on #156
@eskerber could you open up an issue with the problems you're facing? Being an app manager should work too 👍

[2017-06-27 01:04] eskerber commented on #156
@taquitos Yup (though isn't this issue the same thing?). You are right, I debugged a bit and that method was returning `nil` _only_ for my main account which happens to be an admin (technically - admin _and_ legal. Is that a problem?). Didn't have time to dig deep into Spaceship to see what was really happening.

It was resolved by using a dummy account with a regular app manager problem.

When I

[2017-06-27 15:13] taquitos commented on #156
That should be fine @eskerber, I'll see if I can repro. If I find anything weird with this combo I'll follow up in a different issue and @ you. Being `nil` could be a few different things, I'd still like to see if @RPasecky finds anything new about their account, so I'll leave this issue open.

[2017-06-29 20:46] lottadot commented on #60
@drosenstark couldn't you just nightly compare the outcome of `fastlane pilot list` to determine whether new users boarded since the prior check/comparison?

[2017-07-07 12:26] nthegedus opened #173 "Problem with 2FA+Heroku+FASTLANE_SESSION"
Hi,

my AppleID has 2FA, and was following this steps [https://github.com/fastlane/fastlane/blob/master/spaceship/README.md#2-step-verification](url)

But I was not finding a way to add the `FASTLANE_SESSION` key on **Heroku**.

So i disabled the 2FA, and created the site on Heroku using the **Boarding** Template. It works perfectly until I active the 2FA again.

Once created the site, I could add

[2017-07-10 11:40] nthegedus commented on #173
@KrauseFx could you help me?

[2017-07-12 15:30] KrauseFx commented on #173
You could create a separate account with a random password that doesn't have 2 factor enabled as a workaround for now :+1:

[2017-07-14 15:06] nthegedus commented on #173
Thanks @KrauseFx, I thought that could may have another way to use my account with 2FA.

By the way, I think you could add this tip on the Getting Started tutorial

Thanks again

[2017-07-24 15:41] jfield44 commented on #147
@AlexEKoren are you still having issues? Im running the latest Boarding with both internal and external testers active but new signups are not receiving emails.

[2017-07-24 16:29] AlexEKoren commented on #147
Hey Jonathan,
I resolved the issue a few months ago, but I can't remember exactly how. It had to do with iTunes Connect and making sure that the correct testing group was associated with the Testflight app version I was currently testing. Have a look at that and if not, I'll double check.

[2017-07-24 20:51] mpirri commented on #147
@jfield44 Let us know if you are still having difficulty distributing after @AlexEKoren 's advice, and we'd be happy to dig into your problem further!  🚀

[2017-07-25 19:43] rodericj commented on #133
I had the same issue. It was fixed here #144. #130 was closed because #144 did the same thing.

[2017-07-25 19:44] rodericj commented on #169
I had the same issue. Follow the thread in #144. and add the appropriate key value pair `ITC_APP_TESTER_GROUPS` in your env variables.

[2017-07-28 18:40] jfield44 commented on #147
Thanks @AlexEKoren @mpirri , heres a screenshot of what happens when the user gets added, the email address shows but no status appears where it would normally say 'invited'. Its certainly strange behaviour as when I add them directly vs through fast lane I have the same issue.

![testers](https://user-images.githubusercontent.com/1572824/28731543-428c6200-73cc-11e7-921c-eb51c0951312.png)

[2017-08-03 17:01] revblaze opened #175 "Push failed: Precompiling assets failed; Push rejected, failed to compile Ruby app"
I am recieving the following error when attempting to deploy with Heroku. I could be very wrong, but it seems to be an issue with Apple's security checks:

![Heroku Screenshot](http://i.imgur.com/OPlNQwz.png)

The log shows as follows:
[code]

[2017-08-11 21:50] claesjacobsson commented on #110
And / or Slack notification?

[2017-08-24 13:25] hankinsoft commented on #175
I don't think its an apple security check, I'm seeing the same thing on a secondary account with does not use tfa.

[2017-08-25 20:46] KrauseFx commented on #175
Did you follow the 2 factor guide? https://github.com/fastlane/fastlane/blob/master/spaceship/README.md#2-step-verification

[2017-08-25 20:56] hankinsoft commented on #175
My account does not use two step. I ended up using a fork with a different ruby version and that worked for me.

[2017-08-28 09:58] edwardmp commented on #136
@KrauseFx today I noticed a similar issue.

When Spaceship is executed from a web thread, everything works fine. When it is executed from a background thread (sidekiq) this issue starts to happen to 100% of the requests after a certain amount of time. Is there anything we can do about this?

[2017-09-01 19:56] garethleonard commented on #147
Experiencing the same issue as @jfield44, except when I add a user manually the email gets sent just fine.

[2017-09-07 11:58] lbriet commented on #175
Encountering same problem here, no 2FA, so suspect failing due to Ruby version as well.
How exactly were you able to solve @hankinsoft ?

[2017-09-07 12:00] hankinsoft commented on #175
I checked the forks and found someone who had updated the ruby version. I THINK it was https://github.com/gustanas/boarding, but I'm not 100% positive.

[2017-09-07 12:01] lbriet commented on #175
Awesome - will give that a shot - thanks!

[2017-09-18 09:11] robertslowley opened #177 "docker pull doesn't work?"
### Issue Description

Trying to set up boarding to run in docker on AWS... Please help :-)

[2017-09-18 10:20] KrauseFx commented on #177
I could find https://github.com/fastlane/boarding/pull/132 and https://github.com/fastlane/boarding/pull/172 via @dlackty and @emcniece, maybe they can help? :)

[2017-09-18 17:19] emcniece commented on #177
We didn't push a `latest` tag. @robertslowley the tag is [now available](https://hub.docker.com/r/emcniece/docker-boarding/tags/), can you try again?

[2017-09-29 23:27] mattbarker016 opened #180 "Email Address Already Registered for New Users + No TestFlight Emails Sent"
I continually get "Email address already registered" for brand new users, and they are not emailed a TestFlight code, nor added in the TestFlight app. I'm deploying from Heroku with the base options, I tried having a password-token at first. What's going on?

[2017-09-29 23:55] taquitos commented on #180
This looks related to: https://github.com/fastlane/boarding/issues/146

Could you share the server log when running it? Thanks 👍

[2017-09-30 00:03] mattbarker016 commented on #180
[code]

[2017-10-17 13:19] nickdima opened #181 "Service failure error when submitting user"
I always get this error on the submit page, even tough the user gets registered:

[code]

[2017-10-18 17:57] KrauseFx commented on #181
Can you check the server logs for more information?

[2017-10-25 04:18] kdawgwilk opened #182 "Developer role should be sufficient"
iTunesConnect says when adding a user with the Developer role that they are able to:

But if I use a user with that role for boarding I get the following message:

[2017-10-25 17:22] ohayon commented on #182
Hey @kdawgwilk - could you confirm what version of _fastlane_ is in your Gemfile.lock for your boarding instance? I know some work has been done to fix this type of issue, so I'm wondering if that is checked out to an older version maybe?

[2017-10-25 18:36] kdawgwilk commented on #182
I updated to the latest before trying this, I believe the issue is here
https://github.com/fastlane/boarding/blob/203d60280b6f49dba20a9b4bce5581dd02b8ff16/app/services/boarding_service.rb#L116

[2017-11-04 21:52] kordianbruck opened #183 "Add a base url for proxies"
Hey,

I'm running this using the docker image and nginx. I use nginx to reverse proxy the requests to the docker image. Unfortunately you guys use absolute paths and have no means on how to set the base url for the app. So the assets cannot be loaded as they mismatch to / while the app is actually being served from /beta/ with a location match.

For reference gogs lets you set the base url in the

[2017-11-08 07:01] kdawgwilk opened #184 "null null testers showing up"
Has anyone else seen this after setting up boarding?:

<img width="748" alt="screen shot 2017-11-08 at 12 00 11 am" src="https://user-images.githubusercontent.com/7799267/32535595-e04ac9dc-c417-11e7-8720-07b9137b95f3.png">

[2017-11-15 23:23] jabeler opened #185 "Method not allowed"
We've had Boarding set up and working well for the last 2 months or so, however, all of the sudden it has started throwing Method Not Allowed errors when users attempt to sign up.

See attached.
<img width="360" alt="screen shot 2017-11-15 at 4 17 11 pm" src="https://user-images.githubusercontent.com/31429009/32865641-348ee17c-ca21-11e7-86ff-ed06ab7750ad.png">

[2017-11-15 23:38] taquitos commented on #185
Hey @jabeler, could you also paste the output from your logs/terminal?

[2017-11-15 23:43] phaseOne commented on #185
Looks like the endpoint for https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/test_flight/client.rb#L167 may have changed to POST. Looking into this as well.

[2017-11-15 23:53] phaseOne commented on #185
Confirmed that the user gets created at the app level, but the failure occurs when adding an existing user to a testing group via spaceship. I'll try swapping to POST and report back.

[2017-11-16 00:14] phaseOne commented on #185
Changed to POST, but now getting a new error

[code]

[2017-11-16 00:18] taquitos commented on #185
If you look at the response from the actual web page, you can find a javascript file called `manage_users_services.js`,  this has a bunch of end points defined (https://itunesconnect.apple.com/itc/js/ng-app/services/manage_users_services.b0586ced5d.js)

[2017-11-16 00:38] taquitos commented on #185
Looks like Apple changed up their API 🙁

[2017-11-16 00:44] phaseOne commented on #185
Trying to find a replacement endpoint for getting testers by appId. I think it's by groupId now:
`https://itunesconnect.apple.com/testflight/v2/providers/IDKWHATNUMBERTHISIS/apps/APPID/groups/GROUPID/testers?order=asc&sort=status`

[2017-11-16 00:50] taquitos commented on #185
yeah @phaseOne I think you're right, that comes from: https://itunesconnect.apple.com/olympus/v1/session
[code]

[2017-11-16 00:54] phaseOne commented on #185
I think there's a helper somewhere that gets the correct groupId by `ITC.apps.tf.labels.internalTesters`?

[2017-11-16 00:59] taquitos commented on #185
yeah, you can get a list of groups at https://itunesconnect.apple.com/testflight/v2/providers/<team_id>/apps/<app_id>/groups
Then, you can use the `group_id` here:
https://itunesconnect.apple.com/testflight/v2/providers/<team_id>/apps/<app_id>/groups/<weird udid looking group id>/testerEmails

[2017-11-16 01:05] phaseOne commented on #185
Might help us: https://itunesconnect.apple.com/itc/bower_components/tf/dist/tf.tidbits.min.ed87a3f149.js

[2017-11-16 04:11] 1hakr opened #186 "Something went wrong"
When a new user is signing up i'm getting this message. I have no clue whats happening. Please need some help here.

`Something went wrong, please contact the application owner: <?xml version="1.0" encoding="UTF-8"?> <String>There is no route for the path 'users/pre/int'.</String>`

Log:
[code]

[2017-11-16 05:57] boxenjim commented on #186
I'm getting the same error, the path its saying has no route is different for me though

[2017-11-16 06:21] 1hakr commented on #186
Looks like spaceship is not able to handle the response coz it might have changed @KrauseFx @taquitos ?

[2017-11-16 17:01] ohayon commented on #186
Hi folks, we are currently working on a fix for these issues, you can see some more info here: https://github.com/fastlane/boarding/issues/185 and there is a PR in progress here: https://github.com/fastlane/fastlane/pull/10921

[2017-11-16 17:01] ohayon commented on #185
Working on some fixes for these issues here: https://github.com/fastlane/fastlane/pull/10921

[2017-11-19 14:50] linked67 commented on #186
How to update heroku to use the latest fix ?

[2017-11-19 15:00] 1hakr commented on #186
It's a dependency service which will work only after fastlane is released.

[2017-11-20 03:45] raudabaugh commented on #186
@linked67 @1hakr You can edit the dependency in `Gemfile` to use the fix:

`gem 'fastlane', :git => 'https://github.com/fastlane/fastlane.git', :branch => 'master'`

[2017-11-20 04:18] raudabaugh commented on #186
I'm getting the same error after deploying with https://github.com/fastlane/fastlane/pull/10921 merged. It looks like there may still be references to old endpoints, such as in https://github.com/fastlane/fastlane/blob/master/spaceship/lib/spaceship/tunes/tester.rb

[2017-11-20 11:40] linked67 commented on #186
I have try this yesterday but the Gemfile stick to the latest version number which don't include the fix (i think).

When you check https://github.com/fastlane/fastlane/releases, 2.64.1 is 7 days old now and don't include the fix we need.

[2017-11-20 15:46] taquitos commented on #186
We just made a release to fix some of these issues. We'll be continuing to roll out fixes as we make them. For the latest, you can always point to master 🎉

[2017-11-20 16:44] #185 closed

[2017-11-20 18:46] kdawgwilk opened #190 "Feature: Provide Slack integration for when Apple breaks boarding"
So recently Apple made some changes to their TestFlight API which caused boarding to be unable to add testers which caused us some pretty big problems cause we are in the middle of launching a fairly large beta.  What we ended up doing was fork boarding and add a redirect to a google form where they could put in their info and that would get added to a Google sheet.  We then add an integration tha

[2017-11-20 18:50] kdawgwilk commented on #182
It looks like Developer role can only manage internal testers but not external because they are read-only?  Does that sound right?

[2017-11-20 19:06] 1hakr commented on #186
@taquitos thanks for the update. I have updated to latest release but still its not working. Hope to see all the fixes soon

[2017-11-20 19:47] pcsanwald commented on #186
I've also updated to the latest release, and am still seeing the error. If there's anything I can do to help with testing, happy to do it! thanks for your quick work on this.

[2017-11-20 21:30] linked67 commented on #186
It's fine from my side on a new install

[2017-11-20 22:12] pcsanwald commented on #186
on a new install pointing to `master`, I get a crash with `fastlane pilot add \"MY_EMAIL@gmail.com\" -a $FASTLANE_APP_IDENTIFIER --username $FASTLANE_ITUNES_CONNECT_USERNAME --first_name \"Paul\" --last_name \"Sanwald\"`

The crash gives me:

[code]

[2017-11-20 22:24] taquitos commented on #186
`fastlane pilot add` doesn't work just yet... almost there. You can follow along on this _fastlane_  issue: https://github.com/fastlane/fastlane/issues/10930

[2017-11-21 05:15] gcox commented on #186
As of 2.66, the error has changed to: `uninitialized constant Spaceship::Tunes::Tester`

[2017-11-21 15:32] ohayon commented on #186
Hey @gcox - could you provide the stack trace? 🚀

[2017-11-21 15:38] taquitos commented on #186
This is the same root cause as: https://github.com/fastlane/fastlane/issues/10930
which I just fixed in: https://github.com/fastlane/boarding/pull/193 🎈

[2017-11-21 17:00] 1hakr commented on #186
i just tried with a new application and its working now

[2017-11-28 22:35] berasamas opened #194 "Layout customization failed"
I followed the instructions below, but couldn't find how to insert environment variables ITC_USER, ITC_PASSWORD,...  I just want to modify the file en.yml.

[2017-12-07 23:25] jmacwhyte commented on #182
I am having the same issue, no idea where to start with this one. On ITC I have full permissions to manager testers, but am getting this error when I try Pilot.

[2017-12-08 15:33] ohayon commented on #182
Hey @jmacwhyte, could you share the output from your command line when you try to add a tester? Would be helpful to see the stack trace. Thanks! 🚀

[2017-12-19 08:36] eXhausted commented on #173
@KrauseFx any updates?

[2017-12-19 09:16] KrauseFx commented on #173
I updated the docs guide, however I should probably add this to boarding also, does this help? https://github.com/fastlane/docs/pull/504

[2017-12-19 09:17] KrauseFx commented on #173
Let me know what you think

[2017-12-19 09:45] eXhausted commented on #173
These all make sense, but there's no way to provide FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD and FASTLANE_SESSION from Heroku Buildpack.

Any way, great job as always.

[2018-01-15 15:26] chadyj commented on #156
I also came across this error and can reliably reproduce. Seems role/user related.

I have tested this with 2 different accounts.
* Account 1 has roles `App Manager, Customer Support, Sales` and works fine
* Account 2 has role `App Manager` and shows the error `#<NoMethodError: undefined method `admin?' for nil:NilClass>`

@taquitos I'm happy to help debug this further.

[2018-01-16 02:28] chadyj commented on #156
I discovered the problem for me. Turns out that email address used for the ITC_USER environmental variable had capitals in it, and the ITC email needed to be all lowercase.

`Spaceship::Members.find("AB@gmail.com")` returned nil, but
`Spaceship::Members.find("ab@gmail.com")` worked.

[2018-01-29 13:23] triplef commented on #65
Does anyone know if it is still the case for Boarding to require and admin role for the iTC user?

I couldn’t find any other documentation on this and a lot seems to have happened since the last update on this issue, including the use of a new TestFlight API (#187) which sounds like it might affect this.

[2018-01-29 13:25] claesjacobsson commented on #65
I use a user with 'App Manager' role. Works fine!

On Mon, Jan 29, 2018 at 2:23 PM, Frederik <notifications@github.com> wrote:

[2018-01-29 19:09] triplef commented on #65
Thanks @claesjacobsson, that’s great news!

[2018-03-01 03:32] lianleven opened #200 "undefined method `admin?' for nil:NilClass"
Application test error

[2018-03-01 17:05] taquitos commented on #200
Hey @lianleven could you post the log output? That should help us track down where this is coming from and what we can do to fix it 👍

[2018-03-05 07:49] lianleven commented on #200
Hello @taquitos  I forgot to keep the output log. I use the iTunes connect account, legal and management of the account is a failure, the error such as title. ITunes connect re-add an account set for the management is successful.

[2018-03-06 01:59] weylermaldonado commented on #175
I have a similar issue, but give me this, help me pls, i think is the materialize gem
`remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Ruby app detected
remote: -----> Compiling Ruby/Rails
remote: -----> Using Ruby version: ruby-2.3.4
remote: ###### WARNING:
remote:        Removing `Gemfile.lock` because it was generated on Windows.
remote:        Bundler

[2018-03-08 06:53] VictorAny opened #202 "Random heroku 403 forbidden errors"
I recently created a boarding app and started getting emails from my beta users about a crash.
After looking at the website all I see is a `REASON: <pre>FORBIDDEN <pre>`.

Whats odd is that restarting the dynos on heroku resolves the issue but only for a certain amount of time until it happens again. I've now restarted it 4 times. It's strange since the application isn't being overworked. Memory u

[2018-03-08 20:50] mohitathwani opened #203 "Deploy to Heroku button not playing well with 2FA"
The deploy to Heroku button makes it really easy to deploy a boarding page to Heroku, but unfortunately it does not play well with 2FA. There are instructions that show you how to use spaceship to generate a token but that only works if you clone the repository and push to Heroku yourself.

[2018-03-09 08:46] VictorAny commented on #202
Actually it seems I have have set the APP_ID incorrectly. I fixed it and haven't been able to reproduce the failure.

[2018-03-10 19:15] VictorAny commented on #202
Nope..still randomly getting failures..

[2018-03-14 12:17] jschmid opened #204 "Wrong Azure link in README"
Is it normal that the "Deploy to Azure" button uses another repo than this one?

See the link: https://github.com/fastlane/boarding/blame/f67dd5b9ebdc87efb7219e077c0875b614e9438f/README.md#L76

It seems to point to the fork of the user that did the PR. I don't know if it's intended.

[2018-03-14 18:45] eric-PearSports opened #205 "Error 765. unexpected token"
I am getting the error below, and not sure which token is wrong.

As a background, the iOS app is not yet published. not sure if this impacts fastlane/boarding.

I am part of several iOS team, and made sure to set the variables accordingly.

Something went wrong, please contact the application owner: 765: unexpected token at '<!DOCTYPE html><html lang="en"> <head> <title></title> <link rel="styles

[2018-03-14 20:24] junskar commented on #205
Having exactly the same issue. Our boarding app was working correctly until today when it stopped with the same error. So we know all our variables are correct and something has changed in the code.

[2018-03-14 20:38] orbitalnine commented on #205
I'm seeing the same thing today, no changes were made to the app running on heroku. I'm assuming the app is not handling something that was changed at Apple?

[2018-03-15 07:53] junskar commented on #205
Seems like this is fixed now. I guess it was an error from Apple side.

[2018-03-20 05:50] VigneshPT commented on #20
+1

[2018-03-20 05:57] VigneshPT opened #206 "Customize success message"
Would be better to have an environment variable to customize the success message shown in the success page. Having to touch the codebase for a text customization feels unnecessary.

[2018-03-23 22:50] robvolk opened #208 "Fake signups?"
I'm seeing a dozen or so fake signups every day from random email addresses.  I've received a few unsubscribe emails from the people, as a reply from the invite email.  It seems like someone's submitting emails to my Boarding site to see what happens, possibly to try and validate them.  Not sure exactly.

Is anyone else seeing this?  Has anyone implemented a Captcha or any other honeypots to comba

[2018-03-27 07:52] KrauseFx commented on #208
Mh, I haven't seen this for any of my projects, and I think you're the first one reporting this.

[2018-03-28 03:05] nzeltzer commented on #202
Same.

[2018-03-29 21:00] joshdholtz commented on #7
Closing this as this seems to be a feature now with the `ITC_APP_TESTER_GROUPS` environment variable 😊

[2018-03-29 21:00] #7 closed

[2018-03-29 21:03] joshdholtz commented on #19
Closing this as question/suggestions have been answered 👍 This can easily be moved over to an existing Ruby backend by using `Spaceship` directly

[2018-03-29 21:03] #19 closed

[2018-03-29 21:07] joshdholtz commented on #65
Closing with as #97 fixed this 👍

[2018-03-29 21:07] #65 closed

[2018-03-29 21:27] joshdholtz commented on #99
@JAStanton @mhassanpur Is this still an issue for you both? I have not been able to see this error myself

[2018-03-29 21:30] joshdholtz commented on #122
Closing this since no recent responses and a solution was presented 🙃

[2018-03-29 21:30] #122 closed

[2018-03-29 21:33] joshdholtz commented on #136
@Lida @edwardmp Is this fixed for you if you update to latest boarding and fastlane? This should be fixed for you both now 🙃

[2018-03-29 21:38] edwardmp commented on #136
@joshdholtz thanks for reporting back! I no longer use this as I no longer need this use case. Will ask someone else that contacted me about this issue.

By the way, for reference, can you link to the commit that fixed this? I'm also interested in what exactly caused this.

[2018-03-29 21:38] joshdholtz commented on #165
@aspdotmike Heyy 👋 Are you still seeing this issue if you update to latest boarding and fastlane?

[2018-03-29 21:45] joshdholtz commented on #183
@kordianbruck Are you able to submit a PR for this? 😊

[2018-03-29 21:49] joshdholtz commented on #194
@berasamas The heroic environment variables can be modified through the Heroku web dashboard (see image below) or with a Heroic CLI command `heroku config:set ITC_USER=your@email.com`

<img width="898" alt="screen shot 2018-03-29 at 4 48 14 pm" src="https://user-images.githubusercontent.com/401294/38115283-0f979030-3371-11e8-8db2-619760e20fe9.png">

Happy fastlaning 🚀

[2018-03-29 21:49] #194 closed

[2018-03-29 21:55] 33b5e5 opened #212 "new heroku deployments immediately crashing"
[code]

I've tried deploying twice with the same results. I'm not sure what other information is helpful, so please let me know what else I can provide. I was able to deploy to Azure successfully using the same underlying app and iTC access.

[2018-03-29 22:00] 33b5e5 commented on #212
Some additional output from the Heroku logs:

[code]

[2018-03-29 22:01] joshdholtz commented on #212
@33b5e5 Hey! It looks like your "worker dyno" is **on** but your "web dyno" is **off**. Can you make sure your heroic dashboard looks like the following image?

The web dyno should be the only one that is on

<img width="631" alt="screen shot 2018-03-29 at 4 59 41 pm" src="https://user-images.githubusercontent.com/401294/38115740-b227c922-3372-11e8-8e6c-bf481597ce6d.png">

[2018-03-29 22:06] joshdholtz commented on #136
I _thhiiiiiinnkkkkkk) its this one - https://github.com/fastlane/fastlane/pull/10826

But I think another spaceship session think was also reworked before this. Lots of things always changing 🙃

[2018-03-29 22:07] 33b5e5 commented on #212
Thanks for the response @joshdholtz. I admittedly was fiddling with the dyno settings while trying to troubleshoot, but setting them back to the defaults as pictured and restarting the dynos results in the same error. I also tried deploying to a new app and not fiddling with the Heroku settings, but it's the same.

![screen shot 2018-03-29 at 3 03 17 pm](https://user-images.githubusercontent.com/2

[2018-03-29 22:10] joshdholtz commented on #212
This is _very_ strange 🤔 I literally created a new app from the Heroku button on the README about 15 minutes before you posted your issue. Did you deploy with the Heroku button?

[2018-03-29 22:12] 33b5e5 commented on #212
Yep!

[2018-03-29 22:16] kdawgwilk commented on #184
We are not using boarding heavily now that our app has launched in the App Store so I can't confirm if this is still an issue :(

[2018-03-29 22:19] joshdholtz commented on #212
What environment variables did you all fill out when that form popped up? I only filled out user, password, and app id 🤔

[2018-03-29 22:20] joshdholtz commented on #184
Not a problem! Thanks for the quick reply. Will close this for now but feel free to comment back if this happens again 💪

[2018-03-29 22:20] #184 closed

[2018-03-29 22:23] 33b5e5 commented on #212
ITC_USER, ITC_PASSWORD, ITC_APP_ID, ITC_APP_TESTER_GROUPS. So it looks like adding the tester group is the only difference.

[2018-03-29 22:26] 33b5e5 commented on #212
I tried removing ITC_APP_TESTER_GROUPS from the Heroku settings, then restarted all dynos, but no change.

I'm tempted to try the "Update to a new version" (https://github.com/fastlane/boarding#recommended-using-the-terminal) steps just to see if it un-wedges anything.

[2018-03-29 22:27] joshdholtz commented on #212
Does your `ITC_PASSWORD` have any "strange" characters in it maybe? Or does your `ITC_APP_TESTER_GROUPS` have any strange character in it?

[2018-03-29 22:29] joshdholtz commented on #212
@33b5e5 I _think_ I know the issue. Let me push a change real quickly 😊

[2018-03-29 22:33] joshdholtz commented on #212
@33b5e5 I just merged #213. Can you try to create it from scratch ONE more time 😊

[2018-03-29 22:39] 33b5e5 commented on #212
It's working fine now. Thank you very much!

[2018-03-29 22:53] joshdholtz commented on #212
@33b5e5 Woot! Happy fastlaning 🚀

[2018-03-29 22:53] #212 closed

[2018-04-02 20:24] kordianbruck commented on #183
@joshdholtz I wouldn't know much about ruby really. But I'm happy to try. Any hints?

[2018-04-04 06:26] taquitos commented on #156
@RPasecky that's awesome! Thanks for trying it out and getting back to us. We don't have anything more for ya to try out 🎉

[2018-04-04 06:26] #156 closed

[2018-04-05 11:54] joshdholtz commented on #183
@kordianbruck I always just look at other code examples while learning new languages 🙃

[2018-04-10 15:50] nzeltzer commented on #202
I will ask about logs. For what it's worth, here's the error message that's printed to the boarding page itself:

```Something went wrong, please contact the application owner: <html> <head> <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/> <title>Error 403 </title> </head> <body> <h2>HTTP ERROR: 403</h2> <p>Problem accessing /v2/providers/70630800/apps/309601447/testers. Re

[2018-04-10 15:54] nzeltzer commented on #202
Here's an [application log file](https://www.dropbox.com/s/2j33i3rbljcjc2p/pocket-testflight-logs-1523375249124.txt?dl=0).

[2018-04-13 14:24] zacheryt757 opened #214 "Unable to deploy to Heroku"
3.2.1/lib/sprockets/rails/task.rb:62:in `block (2 levels) in define'
       /tmp/build_233da0a6f85ff8aed75b937285962299/vendor/bundle/ruby/2.3.0/gems/rake-12.3.1/exe/rake:27:in `<top (required)>'
       Tasks: TOP => environment
       (See full trace by running task with --trace)
 !
 !     Precompiling assets failed.
 !
 !     Push rejected, failed to compile Ruby app.
 !     Push failed

[2018-04-13 14:40] #214 closed

[2018-04-13 16:09] robvolk commented on #208
I secured the page by requiring a password with the `ITC_TOKEN` env var and that should fix the issue.

If we added a honeypot to the signup form, that would also fix it, and we wouldn't need to ask users for a password.  Anyway that's a new feature, so I'll close this.

[2018-04-13 16:09] #208 closed

[2018-04-22 08:51] wcandillon opened #215 "REST API"
First things first, thank you for this great package, it is literally a life saver 🙌🏻

I was wondering if it was possible to invoke boarding via a REST API? It seems to be protected via an authenticity token? I have no skills with Ruby on Rails so I'm not sure how it would need to be modified in order to support REST?
Also maybe there is a reason of why it doesn't support REST at the moment?

Agai

[2018-05-02 12:57] joshdholtz commented on #203
Heyyyy 👋 2FA makes things really wonky 😱 The recommended option is to create a new developer for your boarding/fastlane stuff that doesn't have 2FA enabled

[2018-05-07 09:54] kuglemic commented on #202
I have exactly the same issue.
Do you have any news on this?

I just rebooted all my dynos in the heroku dashboard for now, and it is working again.

Will investigate if the issue reappears and keep you updated if I find a solution.

[2018-05-08 01:33] nzeltzer commented on #202
After searching through the Fastlane org's repos and looking at similar
issues, it looks like this is an issue with iTunes Connect authentication
going stale. For now, I've just set our dynos to restart every hour.

On Mon, May 7, 2018 at 2:54 AM Michael Kugler <notifications@github.com>
wrote:

[2018-05-23 08:38] evilDave opened #216 "Heroku having Application error"
Noticed that my fork of boarding is not working any more. Same issue with the example in the readme.

This is the first error in the log:

[4] ! Unable to load application: Spaceship::Tunes::Error: {"authType"=>"sa"}

[2018-05-23 11:39] rmoriz commented on #216
same here. We've had an older version running that crashed recently on boot but also the latest master branch seems not to work.

[2018-05-23 12:10] evilDave commented on #216
If I had to guess I’d say something changed at the iTunes end, this version was working last week. Someone noticed today that it was down.

[2018-05-23 17:41] rmoriz commented on #216
so it seems like it is working again…

[2018-05-23 21:26] jamesmontemagno commented on #216
Hmm I seem to get:  at=error code=H10 desc="App crashed"

Was working yesterday.

[2018-05-23 21:28] jamesmontemagno commented on #216
In fact it looks like the same as yours:
[code]

[2018-05-24 09:49] jamesmontemagno commented on #216
I also tried a deploy to Azure and getting the same issue :(

Anyone find a work around?

[2018-05-24 09:57] rmoriz commented on #216
see https://github.com/fastlane/fastlane/issues/12577#issuecomment-390811299

[2018-05-24 10:18] evilDave commented on #216
That is it. Meant to jump to post the same thing.

[2018-05-24 10:18] #216 closed

[2018-05-31 13:46] Adverbly opened #217 "Deploy to heroku fails"
I was first seeing this issue on the docker image, but I get it when trying to deploy to heroku as well.

Spaceship::Tunes::Error: {"authType"=>"sa"}

The same config was working until recently but I am now seeing this on startup.

[2018-06-01 02:44] n8stowell82 commented on #121
Yes is there any update to this?  would be nice to be able to use 2fa since any new appleID is forced to have 2fa enabled and cannot be disabled.

[2018-06-02 14:12] dbltnk opened #218 "App crashes on Heroku"
Boarding worked for me on Heroku for a couple months. Today I discovered that it's now broken - without me making any changes to it. This is what Heroku says:

An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details.

This is the log I get - restarted the app on Heroku right before that (to no availal):
`2018-06-02T13:09

[2018-06-03 22:08] biscottigelato commented on #202
@nzeltzer any tips for auto restarting heroku to work around this problem? Not a heroku expert here.

[2018-06-05 06:52] obiwankenoobi opened #219 "invitation won't send in with new builds"
Maybe Im missing something but after creating new build for my app and removing the old one, invitations wont sent to my users that registered at this time. Should i update the build Im sending with `boarding`? if so, how am I doing it? Thanks!

![screen shot 2018-06-05 at 10 50 08](https://user-images.githubusercontent.com/24577941/40962577-92b599cc-68ae-11e8-82b4-1c25e2adb809.png)
this is what I

[2018-06-06 15:09] obiwankenoobi commented on #219
I fixed the issue if anyone else tackled this issue so basically with any new build you have to go to yout itunes connect account and go to TestFlight>GROUP_NAME>add build

[2018-06-06 15:09] #219 closed

[2018-06-08 05:05] davidsomen commented on #217
This may have something to do with Apple's introduction of their own App Store Connect API being released this summer. Including TestFlight public links.

[2018-06-18 00:44] KaneCheshire commented on #217
Sad to see very little discussion within 17 days of this issue being opened. Also experiencing this issue with no resolution yet.

[2018-06-20 22:04] Thwaitesy commented on #217
Hi Guys, the error is caused from Apple requiring you to accept a new privacy policy.

This thread has more details: https://github.com/fastlane/fastlane/issues/12577

To fix - login to here: https://appleid.apple.com
and here: https://itunesconnect.apple.com

Ensure there is nothing to accept. I had to do this for a few accounts.

After that, my Heroku boarding deployment that is now 2 months old

[2018-06-20 22:06] Thwaitesy commented on #218
See #217

Related to https://github.com/fastlane/fastlane/issues/12577

[2018-06-21 00:19] davidsomen commented on #217
Thank you @Thwaitesy !
I had forgotten that I had used a secondary account for the heroku app so that I didn't have to give them my main Apple ID and password. Logged in and accepted aaaaand.... it didn't work. A redeploy seemed to kick start it though.

[2018-06-22 09:10] dbltnk commented on #218
Thank you, @Thwaitesy. Clicking continue on the popup after logging in with the build account fixed the issue.

[2018-06-22 09:10] #218 closed

[2018-06-27 06:36] KaneCheshire commented on #217
Ah yes this works great now. Thank you :)

[2018-06-27 07:20] threezool opened #222 "Deploy to Azure fails - Website with given name already exists"
When deploying to azure its fails at creating Website stating the name already exists.

Submitting Deployment
Deployment Started
Creating Web Hosting Plan
Creating Website
Deployment Failed (View Error) => Deployment Error - Website with given name Beta already exists.

Tested different names but it gets stuck at this step.

[2018-07-02 18:04] phaseOne commented on #215
I'd be interested in adding this as a PR if it's justified. How much value would it provide for the community to add to this project vs forking and creating a REST only version?

In addition Apple has announced support for this in the "near" future: https://twitter.com/KrauseFx/status/1004450869868298240
See the Keynote Video here: https://developer.apple.com/videos/play/wwdc2018/303/

This projec

[2018-07-02 20:20] phaseOne commented on #215
@wcandillon Another potential workaround is submitting the form via a POST request as-is.

As evidenced in [this commit](https://github.com/fastlane/boarding/commit/7c49b180feaffec395316c96ce589eeba955bb01#diff-a6a6ba532788ad976e9b6ebab3aa2f97R5), boarding does not use CSRF protection. Therefore, your calling method does not need to keep track of state/session.

Here's an example:
[code]

You will

[2018-07-13 18:06] maxep commented on #183
Hey! You can set the [RAILS_RELATIVE_URL_ROOT](http://guides.rubyonrails.org/configuring.html#deploy-to-a-subdirectory-relative-url-root) variable

[2018-07-15 15:33] ddnexus commented on #175
Yes. In the log there is a SASS syntax error that I have too (trying a rails app in dev mode):

Invalid CSS after ".blue.": expected class name, was "#007bff"

It doesn't compile the css.

[2018-07-26 13:50] ricburton opened #223 "boarding.herokuapp.com example has an application error"
<img width="786" alt="screen shot 2018-07-26 at 09 48 51" src="https://user-images.githubusercontent.com/438160/43266369-42df5784-90b9-11e8-8c21-ba4b9170c41c.png">
<img width="625" alt="screen shot 2018-07-26 at 09 50 03" src="https://user-images.githubusercontent.com/438160/43266379-47d1e9dc-90b9-11e8-8823-150029d0473e.png">

[2018-07-28 20:24] ricburton opened #224 "🐵 Idea: Mailchimp Integration"
It would be great to add these testers to our email list.

[2018-07-29 19:03] ricburton opened #225 "😭Handle TestFlight being down better"
Right now the app throws an error when this happens:

<img width="1141" alt="screen shot 2018-07-29 at 14 58 52" src="https://user-images.githubusercontent.com/438160/43369709-86200802-9340-11e8-82d5-ce3e90295288.png">

Perhaps we could have a screen saying that Apple is having issues.

[2018-08-07 09:48] padupuy commented on #200
Hello there, to reproduce the bug :
- deploy an app to heroku via https://www.heroku.com/deploy?template=https://github.com/fastlane/boarding
- try to connect to the beta dashboard
- failed to connect

Here are the logs

[code]

[2018-08-21 16:06] bunnyc1986 commented on #183
the submit button also needs to be fixed after setting RAILS_RELATIVE_URL_ROOT

[2018-08-27 16:26] RishabhTayal commented on #27
@0xced I was also able to successfully deploy the app on AWS and set the env vars. However I am getting 404 not found error. Any idea why?

![screenshot 2018-08-27 11 26 33](https://user-images.githubusercontent.com/2100166/44671791-19801300-a9ec-11e8-8d6a-b5bcdda6d0d3.png)

[2018-08-27 16:33] 0xced commented on #27
I have no idea sorry, the last time I used AWS was 3 years ago when I installed boarding and I don't remember any details.

[2018-08-27 16:36] RishabhTayal commented on #27
no worries. will keep digging. 👍

[2018-08-27 16:59] RishabhTayal commented on #27
Looks like the issue is similar to this:
https://github.com/fastlane/fastlane/issues/5662#issuecomment-256235706

[2018-09-10 08:28] bradwalls opened #227 "Deploying on Heroku"
Having issues building app, has there been any issues lately?

 !     Precompiling assets failed.
 !
 !     Push rejected, failed to compile Ruby app.
 !     Push failed

[2018-09-12 09:32] mataspetrikas commented on #227
same here, the deployment fails as well

[2018-09-13 10:24] suculent opened #228 "403 from iTunes when accessing /testers"
Started happening yesterday after the Keynote:

Problem accessing /v2/providers/891960/apps/1386652007/testers

[code]

[2018-09-17 20:16] RishabhTayal commented on #228
Getting the same error.

[2018-09-18 09:15] suculent commented on #228
Fixed by updating Fastlane dependency to latest version. See  https://github.com/fastlane/boarding/pull/229

[2018-09-18 09:15] #228 closed

[2018-09-18 10:32] warpling commented on #227
Seeing crashes here now too.

[2018-09-20 16:14] chadyj commented on #200
I had the exact same issue! https://github.com/fastlane/boarding/issues/156#issuecomment-357836019

[2018-09-22 11:59] JigneshPatel23 commented on #149
Similar issue I am facing even I have set up in a local machine it works with login but no luck with the session.

[2018-10-18 00:28] wasauce commented on #227
Same here

[2018-10-26 17:20] magnusriga commented on #222
I have the same problem. Using Azure CLI. Checked with the Dashboard, no app exists with the name I am using.

[2018-12-02 16:57] JohannesDeml opened #231 "Heroku Deployment - Archive not found"
I'm having issues with deploying the app on heroku. The data I used was the same I had before (I deleted the old app since the old version was on there pretty long and had an error).

![image](https://user-images.githubusercontent.com/4518980/49342399-467f3a00-f65b-11e8-9ab2-e017cf0c7df3.png)

Any ideas?

[2018-12-06 08:32] JohannesDeml commented on #231
The problem seems to be fixed, I was able to run the script again. Thanks for the update!

[2018-12-06 08:33] #231 closed

[2018-12-06 08:34] JohannesDeml commented on #227
Have you tried it lately? I just deployed successfully to heroku.

[2018-12-06 19:17] KrauseFx commented on #231
Sorry for the late reply, glad it's working now

[2018-12-06 19:17] KrauseFx commented on #227
We just pushed a new release, could you try it again?

[2018-12-27 18:37] ammerzon commented on #227
Still not working.

[code]

[2019-01-16 13:45] FinHorsley opened #233 "Question - Can I use boarding to add users to the App Store Connect Users group"
Can i add users to the App Store Connect Users group, so that i can automatically register Internal Testers (within our company)?

[2019-01-25 18:44] siburb commented on #202
This is still happening now on a newly created boarding site. Will try the auto-restarting.

[2019-02-22 13:12] FinHorsley opened #234 "Supporting 2FA as of 29th Feb"
I am trying to host the boarding website locally as a test run, but want have all the users using 2FA so that I'm ready for the changes that are coming later in February (Apple imposed).

I have followed the 2FA guide [here](https://docs.fastlane.tools/best-practices/continuous-integration/#two-step-or-two-factor-auth), but I don't understand how this relates to `boarding` in particular.

[2019-02-22 13:25] FinHorsley commented on #234
As per the [Apple Guidelines](https://developer.apple.com/support/account/authentication/?cid=2fa-e-en-001), as long as the user configured within Boarding is not the Account Holder, 2FA is NOT required

[2019-02-22 13:26] #233 closed

[2019-03-01 14:43] FinHorsley opened #235 "Support for bulk adding participants"
Change column stacking to horizontal (in-line), and enable adding rows so that multiple participants can be added at once. (useful for internal staff members)

[2019-03-03 12:01] FinHorsley commented on #235
Closing as this isn't the purpose of this tool

[2019-03-03 12:01] #235 closed

[2019-03-03 12:06] FinHorsley commented on #234
Closing due to reasons above

[2019-03-03 12:06] #234 closed

[2019-03-03 12:07] FinHorsley commented on #206
@VigneshPT did you get a chance to work on this?

[2019-03-03 14:31] FinHorsley opened #236 "Email already registered error shown, but user still added to correct group"
If the email address entered is already registered with TestFlight, but not added to the group(s) specified by the `ITC_APP_TESTER_GROUPS` var, the Email Already registered error is shown. Despite the error, the email is still added to the correct group(s).

If the user is already part of TestFlight, but hasn't been added to the groups specified, the error should not be shown. Instead the user sho

[2019-03-03 16:02] FinHorsley opened #237 "If no default external group added, user is still added to All Users"
If no `ITC_APP_TESTER_GROUPS` is specified, an error message is shown when the user requests beta access. This error is misleading, as although they aren't added to any external group, they are added to the `All Groups` group in TestFlight.

Related to #169

[2019-03-03 17:17] FinHorsley opened #238 "No favicon in tab"
There is no way to add a favicon to the tab on a browser.

[2019-03-04 13:23] JohannesDeml commented on #149
I think handling the two factor authentication in a more streamlined way would be interesting, since Apple seems to enforce two factor more and more. I was stuck the whole morning to get it working again. Actually adding the session token worked for me in the end, but it was a long journey to get there. And the session expiring every month is not too smooth. Is there a way to generate a persistent

[2019-03-05 22:11] hintoz opened #241 "How to update to a new version?"
At the moment, the current version works with FASTLANE_SESSION
But when I try to update the version according to the instruction https://github.com/fastlane/boarding#update-to-a-new-version getting an error:

[code]

[2019-03-06 11:05] hintoz opened #242 "How to deploy to Heroku with 2-factor?"
At the moment, is there a way to install a new app with two-factor authentication on Heroku?
All the above methods do not work now.

[2019-03-07 12:53] FinHorsley commented on #242
Are you talking about 2FA on your Apple account connected to AppStore Connect?

[2019-03-07 13:51] joshdholtz commented on #242
@hintoz If you could provide a little more detail on what you are trying to accomplish that would be great! iOS and Android apps (which fastlane supports) are not deloyable on Heroku so we might need some clarification on what you are trying to accomplish 🙃

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-08 20:30] #238 closed

[2019-03-09 13:13] hintoz commented on #242
Yes.

[2019-03-09 13:29] hintoz commented on #242
Since the question is in the repository boarding, then the question is about it.

I solved the problem of deploying the new boarding on Heroku as follows:
Create an empty application on Heroku.
Then in terminal:
`heroku git:clone --app [heroku_app_name]` (it will be an empty repo)
`cd [heroku_app_name]`
Create a `Gemfile` with the contents:
[code]
 Run `bundle install`, then `git push`
Now we have

[2019-03-15 21:43] vrobel commented on #202
Do you think a 2FA account might have no issues with the authentication stale issue?

[2019-04-05 12:12] hintoz opened #244 "HTTP ERROR 410 Gone"
Hello, since yesterday Apple returns error 410 when accessing form boarding on path /v2/providers/1111111/apps/2222222222/groups

[code]

[2019-04-05 14:58] janpio commented on #244
Yes, see https://github.com/fastlane/fastlane/issues/14521 for the main issue tracking this.

[2019-04-11 10:12] clippka commented on #244
I have the same issue. Since https://github.com/fastlane/fastlane/issues/14521 is fixed now I updated my heroku git repository from latest upstream and tried to push. Precompilation of assets during push already failed with 410 gone?

https://github.com/fastlane/fastlane/issues/14521

[2019-04-11 14:15] janpio commented on #244
https://github.com/fastlane/fastlane/issues/14521 didn't fix nearly all cases of brokenness unfortunately.

[2019-04-12 17:54] Brayton1234567 commented on #223
I second this. It just displays https://www.herokucdn.com/error-pages/application-error.html in a frame.

[2019-04-13 10:40] FinHorsley opened #245 "Fastlane update to 2.120"
Are there any plans to update the Fastlane version to 2.120 when [#14545](https://github.com/fastlane/fastlane/pull/14545) is uploaded to [Fastlane RubyGem](https://rubygems.org/gems/fastlane)?

[2019-04-13 13:46] janpio commented on #245
fastlane 2.120.0 is already published.

Doesn't the app also already use it?
https://github.com/fastlane/boarding/blob/bb07a09e18576aec8387e69c045797caf088b799/Gemfile#L27

[2019-04-15 09:08] FinHorsley commented on #245
Is it as simple as running `bundle update` then to move to 2.120?

[2019-04-15 11:04] janpio commented on #245
It might be. Never used or developer for `boarding`, so I can't really help here. Did you try it?

[2019-04-17 16:59] jabeler commented on #245
Unfortunately Boarding still seems to be broken, even when using Fastlane 2.120.0.

https://gist.github.com/jabeler/6d3ebfc91a1a0ce66d5f619d2041441a

[2019-04-22 01:49] jabeler commented on #245
Interesting note, if I drop the ITC_APP_TESTER_GROUPS variable it will deply and work just fine.

[2019-04-23 05:20] joshdholtz commented on #244
Got a PR up for fixing this ^^ 💪

[2019-04-23 05:20] joshdholtz commented on #245
Got a PR up for fixing this ^^ 💪

[2019-04-23 12:42] clippka commented on #244
I verified that the pr from @joshdholtz fixes this issue for me. Thanks!

[2019-04-24 17:47] #244 closed

[2019-04-24 17:47] #245 closed

[2019-05-02 13:50] AlexeyLi opened #247 "A new tester doesn't get added to TestFlight"
I just tried to deploy the latest version of the boarding app and when I try to add a new tester, it shows that I was successfully added as a new tester, but I didn't get an invite email and I'm not able to find myself when I check on TestFlight. I think this block of code doesn't get executed
`client = Spaceship::ConnectAPI::Base.client response = client.request(:post) do |req| req.url("bulkBetaT

[2019-05-07 22:20] SkylerSeamans commented on #247
Can confirm I'm also seeing this issue.

[2019-05-14 06:44] ojii opened #248 "Something went wrong, please contact the application owner."
I just deployed boarding to Azure but when I try to add a new tester, I get an error:

[code]

[2019-05-18 20:02] jabeler commented on #248
Seeing this as well.

What's strange is that restarting the Heroku dyno allows it to start working again, but then after awhile this message appears again.

[2019-05-24 13:09] jabeler commented on #248
Here's a gist from the logs when the requests are failing.

https://gist.github.com/jabeler/1b99fd5eae49ab7b6ebecae42e8ed719

I've testing under Ruby 2.4.6, 2.5.5, and 2.6.3 with the same results.

[2019-05-30 17:42] prnewman commented on #248
I get this after restarting dynos:

[code]

Assuming the app needs to be upgraded?

[2019-06-27 20:26] #77 closed

[2019-06-30 09:36] marbetschar opened #250 "Vanilla deployment to Heroku fails"
A Vanilla-fresh deployment to Heroku fails with the following message - any ideas how to fix this? FWIW: I just clicked on "Deploy to Heroku" on GitHub master branch.

[code]

**Full Heroku Output:**

[code]

[2019-07-09 08:41] marbetschar commented on #250
Is there anything I can help with to get vanilla deployment to Heroku working again?

[2019-07-23 11:46] FinHorsley opened #251 "Move to JWT authentication"
Fastlane now has support for JWT authentication against AppStore Connect [#14888](https://github.com/fastlane/fastlane/pull/14888). JWT support would mean that we wouldn't have to create a separate 'App Manager' account to get around the 2FA problems.

I think this would also solve an issue we are seeing where the session expires within a day (when using username/password authentication).

[2019-07-24 17:18] marbetschar commented on #250
Anyone and/or anything?

[2019-08-03 21:01] marbetschar commented on #250
How to deploy fastlane boarding to Heroku? Is it even possible to use boarding as of now - or is it broken since the last Apple API changes?

[2019-08-04 08:10] marbetschar commented on #250
Stumbled upon the possibility to create a public link in TestFlight - somehow missed that option. Will use this from now on. In case anyone else missed it too:

https://developer.apple.com/news/?id=09262018a

[2019-08-04 08:10] #250 closed

[2019-08-05 13:57] JoukoTyni opened #252 "bundler 2.0.1 issue"
Hi, we cant use the direct links from TestFlight in alpha and now have the app has been down for a while and I'd like to fix it, but when I tried to update the fastlane and even tried creating new app through the easy links in this project page but they all fail in this same issue.

remote:        Installing bootstrap-sass 3.4.1
remote:        Bundle complete! 19 Gemfile dependencies, 123 gems now

[2019-08-05 16:41] janpio commented on #252
I assume you tried that?

[2019-08-06 09:25] JoukoTyni commented on #252
Yes I tried to install locally and it does not make any difference for the old app. I tried to create a completely new one too and It fails for the https://dashboard.heroku.com/new?button-url=https%3A%2F%2Fgithub.com%2Ffastlane%2Fboarding&template=https%3A%2F%2Fgithub.com%2Ffastlane%2Fboarding build that is done in the cloud afaik

[2019-08-06 11:12] jhandguy commented on #252
I'm also seeing this, it does not work when deploying on Heroku.

[2019-08-07 18:07] cs947 commented on #222
Has anyone followed up on this issue?

[2019-08-12 11:04] mjmaix commented on #252
Are there workarounds? Ty

[2019-08-14 17:37] brunitob commented on #252
1) Download repo
2) heroku login && heroku create
3) heroku buildpacks:set https://github.com/bundler/heroku-buildpack-bundler2
4) git push heroku master

[2019-08-19 03:29] mjmaix commented on #252
@brunitob great that works! Thank you.

Don't forget to add env after heroku create, :) `ITC_APP_ID`, `ITC_USER`, `ITC_PASSWORD`

[2019-08-21 02:45] KrisztinaWiseman commented on #252
Found this on Heroku's page (https://devcenter.heroku.com/articles/bundler-version#known-upgrade-issues):
Many people are hitting issue which is only triggered when a new Bundler version is released. It happens because of a bug in Rubygems, and can be fixed by upgrading to 2.5.5+ or 2.6.3+.

Bundler 2.0.1
1) If you are deploying with Ruby 2.6.0 then you’ll get an error when your dyno or a release

[2019-08-21 02:46] KrisztinaWiseman commented on #252
As per the above advice I upgraded to ruby 2.6.3 and it solved the problem.

[2019-09-11 23:56] lucasmarshall commented on #247
Any movement on this issue? I’m also seeing it.

[2019-11-08 13:02] kundansingh27feb commented on #175
Hi All,

I am getting this error in apache error log. Can someone please help me to resolve this:

s3_website push --force
rake aborted!
Command failed with status (1): [s3_website push --force...]
/var/www/html/ourchive-org/rakefile:37:in `block in <top (required)>'
Tasks: TOP => deploy => push
(See full trace by running task with --trace)

[2019-11-14 00:21] rogerluan commented on #252
Full instructions, step-by-step, are:

1. `git clone git@github.com:fastlane/boarding.git`
1. `cd boarding`
1. `heroku login`
1. `heroku create`
1. `heroku buildpacks:set https://github.com/bundler/heroku-buildpack-bundler2`
1. `heroku config:set ITC_APP_ID=your_add_id`
1. `heroku config:set ITC_USER=your_itunes_connect_username`
1. `heroku config:set ITC_PASSWORD=your_itunes_connect_password`
1.

[2019-11-14 17:03] rogerluan commented on #247
Same here @joshdholtz :s

Any way we can help debug this?

[2019-11-14 18:36] rogerluan commented on #247
Update: it works fine if you add the users to a group, i.e. set env variable `ITC_APP_TESTER_GROUPS`. Just to be safe, make sure you create this group in iTunes Connect first (I did so).

[2019-12-25 23:28] coderbec commented on #242
Hi, I have made an amendment to this that adds the FASTLANE_SESSION variable to the app.json. This is a preferable solution because it allows users to use the "deploy to heroku" button and have it work out of the box, rather than the solution above. I will submit this as a PR.

[2020-02-26 08:15] kristiyandobrev commented on #248
Unfortunately I am facing the same issue. Did you find a way to resolve that @jabeler ?

[2020-04-06 15:53] abardallis opened #264 "Spaceship::UnauthorizedAccessError: Unauthorized Access thrown 8 hours after deployment"
#### The issue:
We've deployed boarding to a Docker container hosted on our internal application platform and we are able to successfully add new Beta Testers after deployment.

However, after about 8 hours, users trying to sign up start to see the following error in the UI:
[code]

I checked the application logs after a failed sign up attempt and I see the following:
[code]

#### What I'd like to

[2020-04-08 10:44] ghost opened #265 "fastlane"

[2020-04-08 10:44] hinoryu commented on #265
hino_ryu@me.com

[2020-06-21 22:16] ghost opened #267 "fastlane/boarding/TestFlight"

[2020-06-21 22:17] hinoryu opened #268 "fastlane/boarding/testflight"

[2020-07-05 02:10] #268 closed

[2020-10-23 06:45] Finn-393 commented on #206
Thanks for the information [Oursainsburys](https://www.oursainsburys.biz/)

[2021-01-27 08:25] lukestringer90 commented on #242
I followed @hintoz's steps above and managed to get Boarding deployed to Heroku with a session generated using `spaceauth` to get around 2FA problems. Here's what I did.

Clone locally.

` git clone https://github.com/fastlane/boarding.git`

Edit the Gemfile to just include `fastlane` (comment out or remove the other boarding-specific gems)

[code]

Commit and push to your Heroku app. (Make sure a

[2021-02-04 00:53] archcorsair commented on #242
The most simple way to deploy with 2FA is simply to generate an app-specific password at https://appleid.apple.com

Pretty simple and straight froward. Worked for me.

[2021-03-05 19:44] rodgutierrez commented on #264
@abardallis did you ever find a solution to this?

[2021-03-06 00:25] abardallis commented on #264
@rodgutierrez not by using `boarding` unfortunately. Ended up just building out a sign up form and calling the App Store Connect API directly. This way the JWT token can be refreshed if needed prior to sending the POST to the `/betaTesters` endpoint.

[Generating JWT tokens for App Store Connect](https://developer.apple.com/documentation/appstoreconnectapi/generating_tokens_for_api_requests)

[App

[2021-03-06 18:22] rodgutierrez commented on #264
thank you @abardallis, this is helpful!